 <!-- Scripts and css and libraries-->
 <script>
    window.performance.mark('debut:theme_stylesheet_loaded.start');
    function onLoadStylesheet() {
      performance.mark('debut:theme_stylesheet_loaded.end');
      performance.measure('debut:theme_stylesheet_loaded', 'debut:theme_stylesheet_loaded.start', 'debut:theme_stylesheet_loaded.end');
      var url = "{{ 'theme.css' | asset_url }}";
      var link = document.querySelector('link[href="' + url + '"]');
      link.loaded = true;
      link.dispatchEvent(new Event('load'));
    }
  </script>
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  {{ 'jquery-2.2.3.min.js' | asset_url | script_tag }}
  <!-- jQuery first, then Popper.js -->
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <!-- Custom CSS -->
  {{ 'style.scss.css' | asset_url | stylesheet_tag }}
  {{ 'magnific-popup.css' | asset_url | stylesheet_tag }}
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  <!-- Custom JS -->
  {{ 'jquery.magnific-popup.min.js' | asset_url | script_tag }}
  {{ 'custom.js' | asset_url | script_tag }}
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  <!-- slick slider -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <!-- Lity Lightbox  -->
  {{ 'lity.css' | asset_url | stylesheet_tag }}
  {{ 'lity.js' | asset_url | script_tag }}
  <!-- other-->
  <script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script>
 <!-- Ends -->
 {%comment%}
 store the customer order count in storage as it's being used at the time of adding a product.
 {%endcomment%}
<script>
  
  {% if customer%}
  localStorage.setItem("checkReturningCustomer", true);
  
  {%else%}
  localStorage.removeItem("checkReturningCustomer");
    console.log("removed");
  {%endif%}

  
  
  </script>

  <!-- Hot jar -->
  <!-- Hotjar Tracking Code for http://jsdentallab.com -->
<script>
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:214507,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>