<svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19">
    <g fill="none" fill-rule="evenodd">
        <g fill="#F7CC5A">
            <g>
                <path d="M10 15L4.122 18.09 5.245 11.545 0.489 6.91 7.061 5.955 10 0 12.939 5.955 19.511 6.91 14.755 11.545 15.878 18.09z" transform="translate(-654 -828) translate(654 828)"/>
            </g>
        </g>
    </g>
</svg>