<svg xmlns="http://www.w3.org/2000/svg" width="24" height="19" viewBox="0 0 24 19">
    <g fill="none" fill-rule="evenodd">
        <g>
            <g transform="translate(-1361 -82) translate(1361 83)">
                <g stroke="#363637">
                    <path d="M0 0h3.191c.457 0 .856.31.969.752l.841 3.292h0L7.51 13.86h11.94l3.49-8.67c.205-.513-.043-1.096-.555-1.302-.119-.048-.246-.072-.374-.072H5.001h0M22.252 6.931L9.47 6.931"/>
                </g>
                <circle cx="9.788" cy="17" r="1" fill="#363637"/>
                <circle cx="16.788" cy="17" r="1" fill="#363637"/>
            </g>
        </g>
    </g>
</svg>