<!-- Assign Item on Sale -->
{% assign on_sale = false %}
{% assign sale_text = 'products.product.sale' | t %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}
<!-- Sold Out -->
{% assign sold_out = true %}
{% assign sold_out_text = 'products.product.sold_out' | t %}
{% if product.available %}
{% assign sold_out = false %}
{% endif %}
<div class="grid-view-item{% if sold_out%} grid-view-item--sold-out{% endif %} product-card" data-limoniapps-discountninja-product-handle="{{ product.handle }}" data-limoniapps-discountninja-product-collections="{{ product.collections | map: 'handle' | join: ',' }}" data-limoniapps-discountninja-product-available="{{ product.available}}" data-limoniapps-discountninja-product-price="{{ product.price}}" data-limoniapps-discountninja-product-compareatprice="{{ product.compare_at_price_max}}" data-limoniapps-discountninja-product-pricevaries="{{ product.price_varies}}" data-limoniapps-discountninja-product-pricemin="{{ product.price_min}}" data-limoniapps-discountninja-product-tags="{{ product.tags}}">
  <a class="grid-view-item__link grid-view-item__image-container full-width-link"
    href="{{ product.url | within: collection }}">
  </a>
  {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
  {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
  {%- assign preview_image = product.featured_media.preview_image -%}
  {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <div class="product-card__image-with-placeholder-wrapper" data-image-loading-animation>
    {% if product.metafields.product-icon-size.product_icon != blank %}
    <div class="small-image">
        {% assign iconimg = product.metafields.product-icon-size.product_icon | first %} 
        <img src="{{ iconimg.cloudinary_src}}" alt="{{ iconimg.alt }}"/>
    </div>
    {% endif %}
    <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper product-card__image-wrapper js">
      <a href="{{ product.url | within: collection }}">
        <img id="{{ img_id }}" class="grid-view-item__image lazyload" alt="{{ preview_image.alt }}"
          data-src="{{ img_url }}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
          data-aspectratio="{{ preview_image.aspect_ratio }}" data-sizes="auto" data-image>
      </a>
    </div>
  </div>
  <noscript>
    {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
    <img class="grid-view-item__image" src="{{ preview_image | img_url: image_size, scale: 2 }}"
      alt="{{ preview_image.alt }}" style="max-width: {{ max_height | times: preview_image.aspect_ratio }}px;">
  </noscript>
  <span class="size">{{product.metafields.product-icon-size.product_size}} </span>
  <div class="h4 grid-view-item__title product-card__title" aria-hidden="true"><a href="{{ product.url | within: collection }}">{%if product.metafields.accentuate.product_title != blank%}{{product.metafields.accentuate.product_title}}{%else%}{{product.title}}{%endif%}</a></div>
  <p>{{product.description| strip_html | truncatewords: 12 }}</p>
  {% include 'product-price-listing', product: product, show_vendor: show_vendor %}

</div>