{% comment %} Product and article ratings data - for AggregateRating rich snippets {% endcomment %}
{% assign hasRatingData = true %}

{% if template contains 'article' %}
    {% assign current_object = article %}
{% else %}
    {% assign current_object = product %}
{% endif %}
{% include 'rw-ratings-data-1' %}
