{% comment %} Product and article ratings data - for AggregateRating rich snippets {% endcomment %}
{% assign hasRatingData = true %}

{% if template contains 'article' %}
    {% assign current_object = article %}
{% else %}
    {% assign current_object = product %}
{% endif %}

{% case current_object.id %}
        {% when 383977390211 %}
        {% assign rate = "4.00" %}        
        {% assign votes = "4" %}
    {% when 383977357443 %}
        {% assign rate = "4.67" %}        
        {% assign votes = "3" %}
    {% when 382561583235 %}
        {% assign rate = "4.00" %}        
        {% assign votes = "3" %}
    {% when 382561616003 %}
        {% assign rate = "5.00" %}        
        {% assign votes = "2" %}
    {% else %}
        {% assign hasRatingData = false %}
{% endcase %}