<div class="container-1260 flex">
  <form class="search-form search-bar__form" action="{{ routes.search_url }}" method="get" role="search">
    <div class="flex">
      <button class="search-bar__submit" type="submit" data-search-form-submit>
        {% include 'icon-search' %}
      </button>
      <input type="text" name="q" placeholder="Search our store" role="combobox"
        aria-autocomplete="list" aria-owns="predictive-search-results" aria-expanded="false"
        aria-label="{{ 'general.search.placeholder' | t }}" aria-haspopup="listbox"
        class="search-bar__input" data-predictive-search-drawer-input />
      <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />
      <div class="predictive-search-wrapper predictive-search-wrapper--drawer" data-predictive-search-mount="drawer">
      </div>
    </div>
  </form>

  <button type="button" class="search-bar__close">
    {% include 'icon-close' %}
  </button>
</div>