<!-- /snippets/social-sharing.liquid -->
<ul class="social-sharing flex-align-center">
  <p>Share</p>
  {% if settings.share_facebook %}
    <li>
      <a target="_blank" title="Share on Facebook" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}">
        <img src="{{ 'icon-facebook-circle.png' | asset_url }}" alt="Facebook">
      </a>
    </li>
  {% endif %}

  {% if settings.share_twitter %}
    <li>
      <a target="_blank" title="Share on Twitter" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}">
        <img src="{{ 'icon-twitter-circle.png' | asset_url }}" alt="Twitter">
      </a>
    </li>
  {% endif %}

  {% if settings.share_email %}
    <li>
      <a target="_blank" href="mailto:{{settings.email_address}}" title="Share on Email">
        <img src="{{ 'icon-email-circle.png' | asset_url }}" alt="Email">
      </a>
    </li>
  {% endif %}
</ul>
