<div class="form-section login-page-tempate">
  <div class="container-520">
    {% comment %}
    If a user has successfully requested a new password, the form.posted_successfully? variable
    is set to true within the 'recover_customer_password' form only. Within that form you'll see
    us assign a variable 'reset_success' to true, which is used in JS to show our success message.
    {% endcomment %}
    <div class="note form-success" id="ResetSuccess" style="display:none;">
      {{ 'customer.recover_password.success' | t }}
    </div>
    
    <div id="CustomerLoginForm">
      {% form 'customer_login' %}
      <input type="hidden" name="checkout_url" value="/account">
      <h1 id="LoginHeading" class="text-center">{{ 'customer.login.title' | t }}</h1>
      <div class="notice">
        <p>We updated our website recently. If you are a return customer and having problem logging in, please email us
          at <a href="mailto:support@jsdentallab.com">support@jsdentallab.com</a> and we'll send you an account
          re-activation link.</p>
      </div>
      {{ form.errors | default_errors }}
      <label for="CustomerEmail">{{ 'customer.login.email' | t }}</label>
      <input type="email" name="customer[email]" id="CustomerEmail" {% if form.errors contains "email" %} class="error"
        {% endif %} autocorrect="off" autocapitalize="off" autofocus>
      {% if form.password_needed %}
      <label for="CustomerPassword">{{ 'customer.login.password' | t }}</label>
      <input type="password" value="" name="customer[password]" id="CustomerPassword" {% if form.errors
        contains "password" %} class="error" {% endif %}>
      {% endif %}
      <div class="text-center btn-wrapper">
        {% if form.password_needed %}
        <a class="red-link" href="#" onclick="showRecoverPasswordForm();return false;">{{
          'customer.login.forgot_password' | t }}</a>
        {% endif %}
        <button type="submit" class="btn-red">{{ 'customer.login.sign_in' | t }}</button>
        {{ 'layout.customer.create_account' | t | customer_register_link }}
      </div>
      {% endform %}
    </div>
    {% comment %}
    This page uses JavaScript to show/hide the recover password form
    {% endcomment %}
    <div id="RecoverPasswordForm" style="display: none;">
      <div class="text-center login-header">
        <h2 id="RecoverHeading">{{ 'customer.recover_password.title' | t }}</h2>
      </div>
      {% comment %}
      This form must use 'recover_customer_password'
      {% endcomment %}
      {% form 'recover_customer_password' %}
      {{ form.errors | default_errors }}
      {% comment %}
      form.posted_successfully? is true only inside this form, but we want
      to show a success message outside of it. To do so, set the variable
      reset_success to true, then use JS to show our success message above.
      {% endcomment %}
      {% if form.posted_successfully? %}
      {% assign reset_success = true %}
      {% endif %}
      <label for="RecoverEmail">{{ 'customer.recover_password.email' | t }}</label>
      <input type="email" value="" name="email" id="RecoverEmail" autocorrect="off" autocapitalize="off">
      <!--<input type="submit" class="btn-green" value="{{ 'customer.recover_password.submit' | t }}">-->
      <!-- <a href="#" onclick="hideRecoverPasswordForm();return false;">{{ 'customer.recover_password.cancel' | t }}</a>-->
      <div class="text-center btn-wrapper">
        <p>{{ 'customer.recover_password.subtext' | t }}</p>
        <button type="submit" class="btn-red">{{ 'customer.recover_password.submit' | t }}</button>
        <a href="#" title="{{ 'customer.recover_password.cancel' | t }}" class="red-link forget-cancel"
          onclick="hideRecoverPasswordForm();return false;">{{ 'customer.recover_password.cancel' | t }}</a>
        </p>
      </div>
      {% endform %}
    </div>
    {% comment %}
    If accounts are set as optional, the following will be shown as an option
    during checkout, not on the default /login page.
    {% endcomment %}
    {% if shop.checkout.guest_login %}
    <div class="guest-login-section">
      <h2>{{ 'customer.login.guest_title' | t }}</h2>
      {% form 'guest_login' %}
      <input type="submit" class="btn-red" value="{{ 'customer.login.guest_continue' | t }}">
      {% endform %}
    </div>
    {% endif %}
  </div>
</div>
<script>
  /*
    Show/hide the recover password form when requested.
  */
  function showRecoverPasswordForm() {
    document.getElementById('RecoverPasswordForm').style.display = 'block';
    document.getElementById('CustomerLoginForm').style.display = 'none';
  }
  function hideRecoverPasswordForm() {
    document.getElementById('RecoverPasswordForm').style.display = 'none';
    document.getElementById('CustomerLoginForm').style.display = 'block';
  }
  // Allow deep linking to the recover password form
  if (window.location.hash == '#recover') { showRecoverPasswordForm() }
  // reset_success is only true when the reset form is
  {% if reset_success %}
  document.getElementById('ResetSuccess').style.display = 'block';
  {% endif %}
  /* If checkout url is for the checkout page, then change the redirection to cart page */
  $(document).ready(function ($) {
    setInterval(updateLineItemProperties, 1000);
    $('#customer_login').one('submit', function (e) {
      e.preventDefault();
      console.log("HELLO");
      let currentCheckoutURL = $('input[name=checkout_url]').val();
      console.log(currentCheckoutURL);
      var checkoutURL = getUrlParameter('checkout_url');
      console.log(checkoutURL)
      if (checkoutURL.toLowerCase().indexOf("checkouts") >= 0) {
        console.log(true);
        $('input[name=checkout_url]').val('/cart');
        $(this).submit();
      }
     else{
      $(this).submit();
     }
    });
  });
</script>
<style>
  header {
    background: transparent;
  }
</style>