<div class="form-section login-page-tempate">

  <div class="container-520">

      <div class="form-vertical">

        <h1 class="text-center">{{ 'customer.register.title' | t }}</h1>
        <div class="notice"><p>We updated our Website recently. If you are a return customer and having problem logging in, please email us at <a href="mailto:support@jsdentallab.com">support@jsdentallab.com</a> and we'll send you an account re-activation link.</p></div>
  
        
        {%- assign formId = 'RegisterForm' -%}
        {% form 'create_customer', id: formId, novalidate: 'novalidate' %}
          {% include 'form-status', form: form, form_id: formId %}

          <label for="{{ formId }}-FirstName">{{ 'customer.register.first_name' | t }}</label>
          <input type="text" name="customer[first_name]" id="{{ formId }}-FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocomplete="given-name">

          <label for="{{ formId }}-LastName">{{ 'customer.register.last_name' | t }}</label>
          <input type="text" name="customer[last_name]" id="{{ formId }}-LastName" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocomplete="family-name">

          <label for="{{ formId }}-email">{{ 'customer.register.email' | t }}</label>
          <input
            type="email"
            name="customer[email]"
            id="{{ formId }}-email"
            class="{% if form.errors contains 'email' %} input--error{% endif %}"
            {% if form.email %} value="{{ form.email }}"{% endif %}
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            aria-required="true"
            {%- if form.errors contains 'email' -%}
              class="input--error"
              aria-invalid="true"
              aria-describedby="{{ formId }}-email-error"
            {%- endif -%}
          >
          {%- if form.errors contains 'email' -%}
            <span id="{{ formId }}-email-error" class="input-error-message">
              <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
              {% include 'icon-error' %}
              <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
            </span>
          {%- endif -%}

          <label for="{{ formId }}-password">{{ 'customer.register.password' | t }}</label>
          <input
            type="password"
            name="customer[password]"
            id="{{ formId }}-password"
            class="{% if form.errors contains 'password' %} input--error{% endif %}"
            aria-required="true"
            {%- if form.errors contains 'password' -%}
              class="input--error"
              aria-invalid="true"
              aria-describedby="{{ formId }}-password-error"
            {%- endif -%}
          >
          {%- if form.errors contains 'password' -%}
            <span id="{{ formId}}-password-error" class="input-error-message">
              {% include 'icon-error' %}
              <span>{{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.</span>
            </span>
          {%- endif -%}

          <label for="password_confirmation">Confirm Password</label>
          <input type="password" value="" name="customer[password_confirmation]" id="password_confirm" />
          <span id="RegisterForm-confirmpassword-error" style="display:none" class="input-error-message">
           Password do not match
          </span>

          <label>Previous Order Number (optional) </label>
          <input type="text" id="AmazonOrderNumber" name="customer[note][Amazon Order Number" >




   <div class="btn-wrapper">
    <input type="submit"  value="{{ 'customer.register.submit' | t }}" class="btn-red">
    <p class="already-login-section">
      Already have a repurchase account?  <a class="red-link" href="/account/login">Login</a>
    </p>
   </div>
           
    

        {% endform %}
      </div>
</div>
</div>

<script>
      $('form#RegisterForm').submit(function(e) { 
        $('#RegisterForm-confirmpassword-error').hide();
if ( $('#RegisterForm-password').val() === $('#password_confirm').val()) {
  //alert('Password Good!!');

} else {
  $('#RegisterForm-confirmpassword-error').show();
  e.preventDefault(); // stops our form from submitting
}
});
</script>
