<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}
    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
    {% include 'head'%}
    {% include 'head-scripts'%}
  </head>

 



  <body>
    {% section 'header' %}
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content checkout-body" role="main">
            {{ content_for_layout }}
          </main>
         <!-- <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>-->
        </div>
        <aside class="sidebar checkout-body" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}
    {% section 'footer' %}




     <div id="popup-info-insurance" class="modal-popup" >
      <div class="half-video-half-content-popup flex modal-popup-content">
        <a class="close js-popup-close"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
            <path id="Fill_1" data-name="Fill 1" d="M0,23.939,1.061,25,12.474,13.535,23.939,25,25,23.939,13.535,12.474,25,1.061,23.939,0,12.474,11.413,1.061,0,0,1.061,11.413,12.474Z" fill="currentColor" fill-rule="evenodd"></path>
          </svg></a>
        <div class="left-section">
          <div class="inner-box">
              <img src="//cdn.shopify.com/s/files/1/0274/6702/2389/files/why-us-img-6.jpg?v=1615078193" alt="night guard replacement">
          </div>
        </div>
        <div class="content">
          <h2>Protect Against Loss, Damage, and More!</h2>
<p>Our guards are built to last, but accidents do happen.</p>
<p>For just $39.99/year, you get: </p>
<ol>
<li>One free night guard replacement in a rolling 12 month period that covers any accidental loss or damage, night guard breakage, new dental work such as a filling or crown that requires a new guard to be made, and when your dog chews up your guard!</li>
<li>Free adjustments until you are happy.</li>
<li>Free exchange for a different type of guard that could suit your grinding/clenching habit better.</li>
<li>free two-way shipping for exchange, adjustment and replacement.</li>
</ol>


<p>
  <br /><br />
  If you are ordering for multiple people, then you can edit the quantity on the cart page.
  If you are ordering for multiple people, then you can edit the quantity on the cart page.    If you are ordering for multiple people, then you can edit the quantity on the cart page.    If you are ordering for multiple people, then you can edit the quantity on the cart page.
</p>
        </div>
      </div>
    </div>
  </body>
</html>

<style>
  .checkout-body{
      font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    line-height: 1.3em;
    overflow-wrap: break-word;
  }
  .product-table th, .product-table td {

    padding-bottom: 15px !important;
}
.pdp-section{
  padding-bottom: 0px !important;
  
}

.pdp-section .btn-red{
  max-width: 100px;
}


.step__sections{
  display: flex;
  flex-direction: column;
}
.section.section--shipping-address{
  order: 3;
}


</style>

<script>
/*Not Required as shareable link coupon working automatically*/
/*check local storage of shareable link if there  */
  /*if(localStorage.getItem("couponCode_Addon")!=null)
  {
   if( localStorage.getItem("couponCode_Addon")=="ADD-ON")
   {
    $("#checkout_reduction_code").val("ADD-ON");
    $(".field__input-btn").click();
   }

  }*/

  
</script>

  <div class="js__insurance-data hide">
    <div class="pdp-section ">
      <div class="pdp-step-two  pdp-steps  " style="display: block;">
        <h2>Would You Like Insurance?</h2><br>
        {%comment%}
        Show Notification if Multiple Checckbox is checked
        {%endcomment%}
        <div class="notice hide">
          <p>
            If you are ordering for multiple people, then you can edit the quantity on the cart page.
          </p>
        </div>
        <!-- Insurance -->
        <div class="white-box" id="add-insurance" data-pid="33416238170165" data-sellingplanidinsurance="5374005">
         <div>
          <h4>Protect Against Loss, Damage and More for $39.00/year</h4>
         
          <div class="note-section">
            <a class="note-link open-insurance-popup" >Why Get Insurance?</a>
          </div>
        </div>
          <a class="btn-red js__add-insurance" >add</a>
          <a class="btn-red js__remove-insurance" style="display: none;" >remove</a>
         
        </div>
      </div>
    </div>
  </div>
 

  <style>
    .pdp-section {
    padding: 30px 0px;
}

.white-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.white-box .btn-red{
  margin-top: 0px !important;
  flex: none;
  height: 50px;
  margin-left: 20px;
}

@media only screen and (max-width: 480px) {
  .white-box{
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
}

.white-box .btn-red{
  margin-top: 10px !important;

  margin-left: 0px;
}
}
  </style>

 


{{ 'sm-checkout.js' | asset_url | script_tag }}


