<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
  {% include 'head'%}
  {% include 'head-scripts'%}
  <!-- For customer templates only -->
  {%- if request.page_type contains 'customers/' -%}
  <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
{%- endif -%}
{% if template contains 'customers' %}
{{ 'shopify_common.js' | shopify_asset_url | script_tag }}
{{ 'customer_area.js'  | shopify_asset_url | script_tag }}
{% endif %}
  
   <!-- Product object -->
   <script>
    window.theme = window.theme || {};
    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        zoomClose: {{ "products.zoom.close" | t | json }},
        zoomPrev: {{ "products.zoom.prev" | t | json }},
        zoomNext: {{ "products.zoom.next" | t | json }},
        addressError: {{ 'map.errors.address_error' | t | json }},
        addressNoResults: {{ 'map.errors.address_no_results' | t | json }},
        addressQueryLimit: {{ 'map.errors.address_query_limit_html' | t | json }},
        authError: {{ 'map.errors.auth_error_html' | t | json }}
      },
      settings: {
        // Adding some settings to allow the editor to update correctly when they are changed
      },
      variables: {
        mediaQueryMedium: 'screen and (max-width: 768px)',
        bpSmall: false
      },
      moneyFormat: {{ shop.money_format | json }}
    }
    document.documentElement.className = document.documentElement.className.replace('no-js', 'supports-js');
  </script>
  <script type="text/javascript">
    if (window.MSInputMethodContext && document.documentMode) {
      var scripts = document.getElementsByTagName('script')[0];
      var polyfill = document.createElement("script");
      polyfill.defer = true;
      polyfill.src = "{{ 'ie11CustomProperties.min.js' | asset_url }}";
      scripts.parentNode.insertBefore(polyfill, scripts);
    }
  </script>
  {{ content_for_header }}

<script>var scaaffCheck = false;</script>
{{ 'sca_affiliate.js' | asset_url | script_tag }}
<meta name="facebook-domain-verification" content="x0m1wv33ehddex75cwrn80z1v0xnu5" />
  <!-- Global site tag (gtag.js) - Google Ads: 976544040 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-976544040"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-976544040');
</script>
<meta name="google-site-verification" content="OJAeOxRr0iYZJr_2F3cRz1qzLTGoOrNG1dDqoY-HD8I" />
  {% render 'limoniapps-discountninja-header' %}{%- if product -%}{%- assign discountninjaproduct = product -%}{%- endif -%}{%- if collection -%}{%- assign discountninjacollection = collection -%}{%- endif -%}
</head>
<body class="template-{{ request.page_type | handle }}">
  {% section 'header' %}
  <div class="page-container drawer-page-content" id="PageContainer">
    <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}
  </div>
  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
    <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
  </ul>
  <!-- PDP Page Variant Selection BEGINS -->
  {% if request.page_type == 'product' or request.page_type == 'index' %}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {% endif %}
  <link rel="preload" href="{{ 'theme.js' | asset_url }}" as="script">
  <!-- PDP Page Variant Selection ENDS -->
      <!-- Initialise Cart.js once the page has loaded -->
     <!--[if gt IE 8]> <!-- -->
     {{ 'rivets-cart.min.js' | asset_url | script_tag }}
     <script type="text/javascript">
         CartJS.init({{ cart | json }}, {
       // weightUnit: 'kg',
       // weightPrecision: 1
     });
      // Re-render CartJS data- elements when the currency changes.
      jQuery(document).on('currency.changed', function(e, oldCurrency, newCurrency) {
       CartJS.render(e, CartJS.cart);
     });
   </script>
<style>
  #stamped-main-widget .stamped-container .stamped-review-reply .stamped-review-avatar:not([data-author="JS Dental Lab"]) {display: none !important;}
  
  .pdp-stamped-main-widget .stamped-summary-actions-newreview {
    padding: 40px 0 0 150px !important;
    width: 56% !important;
    left: 150px !important;
  }    
  
[data-widget-type="rewards-referral-modal"] .rewards-modal-referral-right-panel {display:none !important;}
[data-widget-type="rewards-referral-modal"] .rewards-modal-referral-content {max-width:none !important;}
[data-widget-type="rewards-referral-modal"] .rewards-modal-referral-left-panel {width:100% !important;}
  
  </style>
  
  
  
  <script>
  function addEventListenerStamped(el, eventName, handler) { 
   if (el.addEventListener) { el.addEventListener(eventName, handler); }
   else { el.attachEvent('on' + eventName, function () { handler.call(el); }); } 
}

// Example
// Listening for reviews widget loaded event
addEventListenerStamped(document, 'stamped:reviews:loaded', function(e) {
$("#tab-questions").on("click",function(){ StampedFn.toggleForm('question', '{{product.id}}');return false;});
});  
$("#tab-questions").on("click",function(){ StampedFn.toggleForm('question', '{{product.id}}');return false;});

</script>
  
  
  
<script async type="text/javascript" id="stamped-script-widget" data-api-key="pubkey-S7d9X2R7Yk2n6s234CGJ0sp6615c6K" src="https://cdn1.stamped.io/files/widget.min.js"></script>
 {% include  'advanced_preorder' %}

<!-- sh-ssp-added -->
{% render 'sh-ssp-theme-snippet' %}
<!-- /sh-ssp-added -->

<!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/14562610.js"></script>
<!-- End of HubSpot Embed Code -->
{% include 'adroll' %}

    {% unless customer %}
<style>
.stamped-rewards-launcher{
  display:none!important;
  }
  
  </style>

   {% endunless %}

{% include 'stamped-rewards-init' %}
{% include 'limoniapps-discountninja-body' %}
</body>
</html>