{% if section.blocks.size > 0%}
<div class="our-team light-grey-bg bg-oval-shape">
  <div class="container-1120">
    <h6 class="text-center">{{section.settings.title}}</h6>
    <div class="three-column-grid">
      <ul class="flex-wrap">
        {% for block in section.blocks %}
        <li>
          <div class="image-section">
            {% if block.settings.image != blank %}
            <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{block.settings.name}}">
            {%endif%}
          </div>
          <div class="content text-center">
            <h5>{{block.settings.name}}</h5>
            <p> {{block.settings.position}}</p>
          </div>
        </li>
        {%endfor%}
      </ul>
    </div>
  </div>
  {%endif%}

  {% schema %}
  {
  "name": "Three Column Team Members",
  "settings": [
  {
  "type": "text",
  "id" : "title",
  "label": "Title"
  }
  ],
  "blocks": [
  {
  "type": "column",
  "name": "Member",
  "settings": [
  {
  "type": "text",
  "id" : "name",
  "label": "Name"
  },
  {
  "type": "text",
  "id" : "position",
  "label": "Position"
  },
  {
  "type": "image_picker",
  "id" : "image",
  "label": "Image"
  }
  ]
  }
  ]
  }
  {% endschema %}