{% if section.settings.title != blank %}
<div class="half-img-half-content">
  <div class="container-1120 flex-align-center">
    <div class="image-section width-50">
      {% if section.settings.image != blank %}
      <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{section.settings.title}}">
      {%endif%}
    </div>
    <div class="content width-50">
      <h2>{{section.settings.title}}</h2>
      <p class="large">{{section.settings.description}}</p>
    </div>
  </div>
</div>
{%endif%}
{% schema %}
{
"name": "Half Image Half Content",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "text",
"id": "title",
"label": "Title"
},
{
"type": "html",
"id": "description",
"label": "Description"
}
]
}
{% endschema %}