<div class="container-740">
  {% if article.image %}
    {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
    {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
    {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

    <div id="{{ img_wrapper_id }}" class="image-section">
        <img id="{{ img_id }}"
            class="lazyload"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 905, 1090, 1296, 1512, 1728, 2048]"
            data-aspectratio="{{ article.image.aspect_ratio }}"
            data-sizes="auto"
            alt="">
    </div>
  {% endif %}

  <div class="relative">
    <div class="text-center">
      {% if section.settings.blog_show_author %}
        <h6 class="d-inline-block">{{ 'blogs.article.by_author' | t: author: article.author }} | </h6>
      {% endif %}
      {% if section.settings.blog_show_date %}
      <h6 class="d-inline-block">
        {{ article.published_at | time_tag: format: 'date' }}
      </h6>
      {% endif %}
      <h1 class="article-title">{{ article.title }}</h1>
    </div>

    <div class="content">
      {{ article.content }}
    </div>

    <div class="sidebar">
      {% if section.settings.show_share_buttons %}
        {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
      {% endif %}

      <!-- Recent Articles -->
      <div class="recent-stories">
        <h6 class="text-center">Related Stories</h6>
        <ul class="recent-stories-list">
          {% for tag in article.tags %}
            {% for recentArticle in blog.articles limit: 3 %}
              {% if recentArticle.tags contains tag %}
                <li data-article-id="{{recentArticle.id}}">
                  <a class="flex-wrap" href="{{recentArticle.url}}" title="{{recentArticle.title}}">
                    <h5>{{recentArticle.title}}</h5>
                    <img src="{% if recentArticle.image %}{{ recentArticle | img_url: 'grande' }}{% endif %}" alt="{{recentArticle.title}}">
                  </a>
                </li>
              {%endif%}
            {%endfor%}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="article-prev-next ipad-block">
    {%- if blog.next_article or blog.previous_article -%}
      {%- if blog.next_article -%}
        <a href="{{ blog.next_article }}" title="Previous" class="previous"> <p class="flex-align-center">{% include 'icon-arrow-left' %} prev</p></a>
      {%- endif -%}
      {%- if blog.previous_article -%}
        <a href="{{ blog.previous_article }}" title="Next" class="next"><p class="flex-align-center">next {% include 'icon-arrow-right' %}</p></a>
      {%- endif -%}
    {%- endif -%}
  </div>

 <!-- Newsletter-->
  <div class="newsletter hide">
    <h5>{{ section.settings.newsletterTitle }}</h5>
      <div class="newsletter-section">
        {% form 'contact' %}
          {% if form.posted_successfully? %}
            <p class="note form-success">
              Thank you for subscribing.
            </p>
          {% endif %}
          {{ form.errors | default_errors }}
          {% assign name_attr = 'contact.form.name' | t | handle %}
          <div class="newsletter-form flex">
            <label for="mail" class="hidden">Email Address</label>
            <input type="email" id="ContactFormEmail" class="subscribe__field" name="contact[email]"
              placeholder="Enter your email address" autocorrect="off" autocapitalize="off"
              value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
            <input type="submit" class="btn-red" value="Sign Up">
          </div>
        {% endform %}
      </div>
    {{ section.settings.newsletterDesc }}
  </div>

<script>
    /** Hide blogs if they are gettings repeated **/
    var recentList = $('.recent-stories-list').children('li'),
    recentListArray = [];
    /* If no posts - then hide the section */
    if (recentList.length === 0) {
      $('.recent-stories').hide();
    }
    /* get the current postID */
    var currentArticleID = $('article').attr("data-article-id");
    /* go through the loop of the postArray List */
    $(recentList).each(function () {
      var articleID = $(this).attr("data-article-id");
      /* if the current article ID matches anyone in the loop - then remove it */
      if (currentArticleID == articleID) {
        $(this).remove();
      }
      else {
        recentListArray.indexOf(articleID) == -1 ? recentListArray.push(articleID) : $(this).remove();
      }
    });
    /* if you had just one in array and too matched - then hide the section */
    if (recentListArray.length === 0) {
      $('.recent-stories').hide();
    }
</script>

{% schema %}
{
  "name": {
    "cs": "Příspěvky",
    "da": "Opslag",
    "de": "Posts",
    "en": "Posts",
    "es": "Publicaciones",
    "fi": "Julkaisut",
    "fr": "Articles",
    "it": "Articoli",
    "ja": "投稿",
    "ko": "게시물",
    "nb": "Innlegg",
    "nl": "Berichten",
    "pl": "Posty",
    "pt-BR": "Posts",
    "pt-PT": "Publicações",
    "sv": "Inlägg",
    "th": "โพสต์",
    "tr": "Gönderiler",
    "vi": "Bài viết",
    "zh-CN": "文章",
    "zh-TW": "貼文"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": {
        "cs": "Zobrazit autora",
        "da": "Vis forfatter",
        "de": "Autor anzeigen",
        "en": "Show author",
        "es": "Mostrar autor",
        "fi": "Näytä tekijä",
        "fr": "Afficher l'auteur",
        "it": "Mostra autore",
        "ja": "執筆者を表示する",
        "ko": "작성자 표시",
        "nb": "Vis forfatter",
        "nl": "Auteur weergeven",
        "pl": "Pokaż autora",
        "pt-BR": "Exibir autor",
        "pt-PT": "Mostrar autor",
        "sv": "Visa författare",
        "th": "แสดงผู้เขียน",
        "tr": "Yazarı göster",
        "vi": "Hiển thị tác giả",
        "zh-CN": "显示作者",
        "zh-TW": "顯示作者"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": {
        "cs": "Zobrazit datum",
        "da": "Vis dato",
        "de": "Datum anzeigen",
        "en": "Show date",
        "es": "Mostrar fecha",
        "fi": "Näytä päivämäärä",
        "fr": "Afficher la date",
        "it": "Mostra data",
        "ja": "日付を表示する",
        "ko": "날짜 표시",
        "nb": "Vis dato",
        "nl": "Datum weergeven",
        "pl": "Pokaż datę",
        "pt-BR": "Exibir data",
        "pt-PT": "Mostrar data",
        "sv": "Visa datum",
        "th": "แสดงวันที่",
        "tr": "Tarihi göster",
        "vi": "Hiển thị ngày",
        "zh-CN": "显示日期",
        "zh-TW": "顯示日期"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "cs": "Zobrazit tlačítka pro sdílení na sociálních sítích",
        "da": "Vis knapper til deling på sociale medier",
        "de": "Buttons für Social Media anzeigen",
        "en": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "fi": "Näytä sosiaalisen median jakamispainikkeet",
        "fr": "Afficher les boutons de partage sur les médias sociaux",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "ソーシャルメディアでの共有ボタンを表示する",
        "ko": "소셜 공유 버튼 표시",
        "nb": "Vis knapper for deling på sosiale medier",
        "nl": "Knoppen voor sociaal delen weergeven",
        "pl": "Pokaż przyciski udostępniania w mediach społecznościowych",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais",
        "pt-PT": "Mostrar botões de partilha nas redes sociais",
        "sv": "Visa knappar för delning i sociala medier",
        "th": "แสดงปุ่มสำหรับแชร์ลงโซเชียล",
        "tr": "Sosyal medya paylaşım düğmelerini göster",
        "vi": "Hiển thị nút chia sẻ qua mạng xã hội",
        "zh-CN": "显示社交分享按钮",
        "zh-TW": "顯示社群分享按鈕"
      },
      "default": true
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "text",
      "id": "newsletterTitle",
      "label": "Title"
    },
    {
      "type":"richtext",
      "id": "newsletterDesc",
      "label": "Description about Terms & Condtions"
    }
  ]
}
{% endschema %}
