{% paginate blog.articles by 5 %}
{%- assign featuredArticle = articles[section.settings.featured_article] -%}
{% if featuredArticle.title != blank %}
<div class="featured-blog light-grey-bg">
  <div class="container-1120 flex-align-center">
    <div class="image-section width-50">
      <a href="{{featuredArticle.url}}" title="{{featuredArticle.title}}">
        <img src="{{ featuredArticle | img_url: 'master'}}" alt="{{featuredArticle.title}}" />
      </a>
    </div>
    <div class="content width-50">
      <h2>{{featuredArticle.title}}</h2>
      <p>{{featuredArticle.excerpt_or_content | strip_html | truncatewords: 45 }}</p>
      <a href="{{featuredArticle.url}}" title="Read More">
        <h6>Read More</h6>
      </a>
    </div>
  </div>
</div>
{%endif%}
<div class="container-1120">
  <ul class="blog-list-view flex-wrap">
    {% for article in blog.articles %}
    <li>
      {% if article.image %}
      {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
      {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
      {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      <div id="{{ img_wrapper_id }}" class="image-section">
        <a href="{{ article.url }}" title="{{ article.title }}" data-image-loading-animation>
          <img id="{{ img_id }}" class="lazyload" data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 905, 1090, 1296, 1512, 1728, 2048]"
            data-aspectratio="{{ article.image.aspect_ratio }}" data-sizes="auto" alt="{{ article.title }}">
        </a>
      </div>
      <noscript>
        <p>
          <a href="{{ article.url }}" title="{{ article.title }}">
            {{ article | img_url: '455x300', scale: 2 | img_tag: article.title }}
          </a>
        </p>
      </noscript>
      {% endif %}
      <a href="{{ article.url }}" title="{{ article.title }}" class="blog-title">
        <h5>{{ article.title }}</h5>
      </a>
      <a href="{{ article.url }}" aria-label="{{ 'blogs.article.read_more_title' | t: title: article.title }}">
        <h6>{{ 'blogs.article.read_more' | t }}</h6>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{%- if paginate.pages > 1 -%}
{% include 'pagination', paginate: paginate %}
{%- endif -%}
{% endpaginate %}
{% schema %}
{
"name": "Featured Article",
"settings": [
{
"type": "article",
"id" : "featured_article",
"label": "Featured Article"
}
]
}
{% endschema %}