<div class="faq">
  <div class="container-740">
    <h2 class="text-center">{{ section.settings.title }}</h2>
      <div class="accordion">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'list' -%}
            <h5>{{block.settings.heading}}</h5>
              {%- when 'question' -%}
              <div class="faq-list">
                <a href="javascript:void(0)" class="accordion-toggle" title="{{block.settings.faqQuestion}}">
                  {% include 'icon-plus-circle' %} {% include 'icon-minus-circle' %}
                  <span>{{block.settings.faqQuestion}}</span>
                </a>
                <div class="accordion-content">
                  {{block.settings.faqanswer}}
                </div>
              </div>
          {%- endcase -%} 
        {%- endfor -%}
      </div>
  </div>
</div>

{% schema %}
  {
    "name": "FAQs",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
  ],
    "blocks": [
      {
        "type": "list",
        "name": "Section separator",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          }
        ]
      },
      {
        "type": "question",
        "name": "Question",
        "settings": [
          {
            "type": "text",
            "id": "faqQuestion",
            "label": "Question"
          },
          {
            "type": "richtext",
            "id": "faqanswer",
            "label": "Answer"
          }
        ]
      }
    ]
  }
{% endschema %}