<!-- Announcement -->
{% if section.settings.show_announcement%}
<div class="announcement-bar">
  <div class="container-1400 relative">
    <p>
      {{section.settings.header_text}}
      <a href="{{section.settings.announcement_link}}"
        title="{{section.settings.announcement_link_text}}">{{section.settings.announcement_link_text}}</a></p>
    <a href="#" title="close" id="announcement-close" class="close"> {% include 'icon-close' %} </a>
  </div>
</div>
{%endif%}
<!-- Header -->
<header class="header">
  <div class="container-1400 flex-space-between">
    <!-- To be visible from ipad-->
    <div class="mobile-hamburger">
      <button id="hamburger" onclick="nav_open();" type="button">
        <span>{% include 'icon-hamburger' %}</span>
        <span class="close">{% include 'icon-close' %}</span>
      </button>
    </div>
    <div class="flex">
      <!-- Logo -->
      {% if section.settings.logo != blank %}
      <div class="logo">
        <a href="{{ routes.root_url }}" itemprop="url" alt="{{shop.name}}">
          {{ section.settings.logo | img_url: 'master' | img_tag: shop.name }}
        </a>
      </div>
      {%endif%}
      <!-- Main Top Nav begins -->
      <div class="navbar-collapse flex-align-center" id="navbarNavDropdown">
        {% assign mainMenu = linklists[section.settings.nav_menu]%}
        {%- assign article1 = articles[section.settings.articleList1] -%}
        {%- assign article2 = articles[section.settings.articleList2] -%}
        <nav>
          {% include 'site-nav' with mainMenu,article1,article1  %}
          <!-- Extra Links for Mobile View -->
          <div class="ipad-block">
            <ul class="mobile-sub-menu">
              {% assign mobileBottomMenu = linklists[section.settings.mobileBottomMenu]%}
              {% include 'site-nav-mobile-bottom' with mobileBottomMenu  %}
            </ul>
            <!-- Pending Need to move this to SiteNav- and change the design through the past child-->
            <a href="/pages/2-0-quiz" title="Take The Quiz" class="btn-red">Take The Quiz</a>
          </div>
        </nav>
      </div>
    </div>
    <!-- Search, Sign In, Cart -->
    <ul class="flex-align-center right-section">
      <li class="search-li ipad-none">
        <a id="search-expand" href="javascript:void(0)" title="Search">{% include 'icon-search' %}</a>
        <div id="SearchDrawer" class="search-bar">
          {% include 'search-drawer' %}
        </div>
      </li>
      <li class="ipad-none">
        {% if customer %}
        <a href="/account" title="My Account">My Account
          {%else%}
          <a href="/account/login" title="Sign In">
            Repurchase Sign In
            {%endif%}
          </a>
      </li>
      <li class="cart-li">
        <a class="cart {% if cart.item_count == 0 %}empty-cart{%endif%}" href="/cart" title="cart">
          {% include 'icon-cart' %}
          <span class="icon-count">{{cart.item_count}}</span>
        </a>
      </li>
    </ul>
  </div>
</header>
{% schema %}
{
"name": {
"en": "Header"
},
"settings": [
{
"type": "image_picker",
"id": "logo",
"label": {
"en": "Logo"
},
"info": {
"en": "450 x 200px recommended"
}
},
{
"type": "header",
"content": {
"en": "Main menu"
}
},
{
"type": "link_list",
"id": "nav_menu",
"label": "Menu",
"default": "main-menu"
},
{
  "type": "link_list",
  "id": "mobileBottomMenu",
  "label": "Mobile Bottom Menu"
  },
{
"type": "header",
"content": {
"en": "Blogs"
}
},
{
"type": "article",
"id": "articleList1",
"label": "Article 1"
},
{
"type": "article",
"id": "articleList2",
"label": "Article 2"
},
{
"type": "header",
"content": {
"en": "Announcement bar"
}
},
{
"type": "checkbox",
"id": "show_announcement",
"label": {
"en": "Show announcement"
},
"default": true
},
{
"type": "text",
"id": "header_text",
"label": {
"en": "Text"
},
"default": {
"en": "Announce something here"
}
},
{
"type": "url",
"id": "announcement_link",
"label": {
"en": "Link"
},
"info": {
"en": "Optional"
}
}
,
{
"type": "text",
"id": "announcement_link_text",
"label": "Link Text"
}
]
}
{% endschema %}