{% if section.blocks.size > 0%}
<div class="logo-slider container-1260">
  <div class="js-logo-slider">
    {% for block in section.blocks %}
    <div class="slide">
      <div class="image-section">
        <img src="{{ block.settings.image | img_url: 'master' }}" class="sharp" alt="{{block.settings.title}}">
      </div>
      <p>{{block.settings.title}}</p>
    </div>
    {%endfor%}

  </div>
</div>
{%endif%}
{% schema %}
{
"name": "Logo Slider",
"blocks": [
{
"type": "logo",
"name": "Logo",
"settings": [
{
"type": "text",
"id" : "title",
"label": "Title"
},
{
"type": "image_picker",
"id" : "image",
"label": "Image"
}
]
}
]
}
{% endschema %}