{% if section.blocks.size > 0%}
<div class="rating-slider">
  <div class="container-1400">
    <div class="customer-ratings">
      {% for block in section.blocks %}
      <div>
        <div class="rating">
          {% if block.settings.ratings == 5%}
          <span> {% include 'icon-star' %} </span>
          <span> {% include 'icon-star' %} </span>
          <span> {% include 'icon-star' %} </span>
          <span> {% include 'icon-star' %} </span>
          <span> {% include 'icon-star' %} </span>
          {% elsif block.settings.ratings == 4%}
          <span> {% include 'icon-star' %} </span>
          <span> {% include 'icon-star' %} </span>
          <span> {% include 'icon-star' %} </span>
          <span> {% include 'icon-star' %} </span>
          {% elsif block.settings.ratings == 3%}
          <span> {% include 'icon-star' %} </span>
          <span> {% include 'icon-star' %} </span>
          <span> {% include 'icon-star' %} </span>
          {% elsif block.settings.ratings == 1%}
          <span> {% include 'icon-star' %} </span>
          {%endif%}
        </div>
        <p class="large">{{block.settings.title}}</p>
      </div>
      {%endfor%}
    </div>
    {% if section.settings.buttonText != blank %}
    <a class="btn-blue-border-bottom" href="{{section.settings.buttonLink}}"
      title="{{section.settings.buttonText}}">{{section.settings.buttonText}}</a>
    {%endif%}
  </div>
</div>
{%endif%}
{% schema %}
{
"name": "Rating Slider",
"settings": [
{
"type": "text",
"id" : "buttonText",
"label": "Button Text"
},
{
"type": "url",
"id" : "buttonLink",
"label": "Button Link"
}
],
"blocks": [
{
"type": "ratings",
"name": "Ratings",
"limit": 4,
"settings": [
{
"type": "range",
"id": "ratings",
"min": 0,
"max": 5,
"label": "Ratings",
"default": 0
},
{
"type": "text",
"id" : "title",
"label": "Title"
}
]
}
]
}
{% endschema %}