{% if section.settings.title != blank%}
<div class="full-width-content-img-cta light-grey-bg">
  <div class="container-1060">
    <div class="content">
      <h2>{{section.settings.title}}</h2>
      {{section.settings.description}}
      {% if section.settings.buttonText != blank %}
      <a class="btn-red" href="{{section.settings.buttonLink}}"
        title="{{section.settings.buttonText}}">{{section.settings.buttonText}}</a>
      {%endif%}
    </div>
    {% if section.settings.image != blank %}
    <div class="image-section">
      <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{section.settings.title}}">
    </div>
    {%endif%}
  </div>
</div>
{%endif%}
{% schema %}
{
"name": "Full Width Content Image",
"settings": [
{
"type": "text",
"id" : "title",
"label": "Title"
},
{
"type": "richtext",
"id" : "description",
"label": "Description"
},
{
"type": "text",
"id" : "buttonText",
"label": "Button Text"
},
{
"type": "url",
"id" : "buttonLink",
"label": "Button Link"
},
{
"type": "image_picker",
"id" : "image",
"label": "image"
}
]
}
{% endschema %}