{% if section.settings.title != blank %}
<div class="half-video-half-content">
  <div class="image-section">
    {% if section.settings.image != blank %}
    <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{section.settings.title}}">
    <!-- //vimeo.com/1084537-->
    {%if section.settings.wistiaLink != blank%}
    <a class="video-popup play-button open-popup" href="#video-popup" title="Play"></a>
    {%endif%}
    {%endif%}
  </div>
  <div class="width-50 flex-align-center">
    <div class="content text-center">
      <h6>{{section.settings.titleBlue}}</h6>
      <h2>{{section.settings.title}}</h2>
      <p>{{section.settings.description}}</p>
      {% if section.settings.buttonText != blank %}
      <a class="btn-red" href="{{section.settings.buttonLink}}"
        title="{{section.settings.buttonText}}">{{section.settings.buttonText}}</a>
      {%endif%}
    </div>
  </div>
</div>
<div id="video-popup" class="mfp-hide">
  <div class="full-video-popup">
    <a class="close mfp-popup-close"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
        <path id="Fill_1" data-name="Fill 1"
          d="M0,23.939,1.061,25,12.474,13.535,23.939,25,25,23.939,13.535,12.474,25,1.061,23.939,0,12.474,11.413,1.061,0,0,1.061,11.413,12.474Z"
          fill="currentColor" fill-rule="evenodd"></path>
      </svg></a>
{{section.settings.wistiaLink}}
  </div>
</div>
{%endif%}
{% schema %}
{
"name": "Half Video Half Content",
"settings": [
{
"type": "image_picker",
"id" : "image",
"label": "Image"
},
{
"type": "text",
"id" : "title",
"label": "Title"
},
{
"type": "text",
"id" : "titleBlue",
"label": "Title (blue)"
},
{
"type": "html",
"id" : "wistiaLink",
"label": "Video Script (Wistia)"
},
{
"type": "html",
"id" : "description",
"label": "Description"
},
{
"type": "text",
"id" : "buttonText",
"label": "Button Text"
},
{
"type": "url",
"id" : "buttonLink",
"label": "Button Link"
}
]
}
{% endschema %}