{% if section.blocks.size > 0%}
<div class="four-column-testimonial bg-oval-shape">
  <div class="container-1470 relative">
    <div class="content">
      <h6>{{section.settings.titleBlue}}</h6>
      <h2>{{section.settings.title}}</h2>
      
    </div>
    <div class="testimonial-slider">
    
      {% for block in section.blocks limit:8 %}
      <div> <!-- extra div will need for the slider -->
        <div class="testimonial">
          <div class="flex-align-center">
            {% if block.settings.image != blank %}
            <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{block.settings.title}}">
            {%endif%}
            <div> <!-- extra div needed to combine rating and name -->
              <div class="rating">
                {% if block.settings.ratings == 5%}
                <span> {% include 'icon-star' %} </span>
                <span> {% include 'icon-star' %} </span>
                <span> {% include 'icon-star' %} </span>
                <span> {% include 'icon-star' %} </span>
                <span> {% include 'icon-star' %} </span>
                {% elsif block.settings.ratings == 4%}
                <span> {% include 'icon-star' %} </span>
                <span> {% include 'icon-star' %} </span>
                <span> {% include 'icon-star' %} </span>
                <span> {% include 'icon-star' %} </span>
                {% elsif block.settings.ratings == 3%}
                <span> {% include 'icon-star' %} </span>
                <span> {% include 'icon-star' %} </span>
                <span> {% include 'icon-star' %} </span>
                {% elsif block.settings.ratings == 1%}
                <span> {% include 'icon-star' %} </span>
                {%endif%}
              </div>
              <h6>{{block.settings.name}}</h6>
            </div>
          </div>
          <h5>{{block.settings.title}}</h5>
          {{block.settings.description | truncate: 300}}
        </div>
      </div>
      {%endfor%}
    </div>
    {% if section.settings.buttonText != blank %}
    <a class="btn-red-arrow" href="{{section.settings.buttonLink}}"
      title="{{section.settings.buttonText}}">{{section.settings.buttonText}}</a>
    {%endif%}
  </div>
</div>
{%endif%}
{% schema %}
{
"name": "4 Column Testimonial",
"settings": [
{
"type": "text",
"id" : "title",
"label": "Title"
},
{
"type": "text",
"id" : "titleBlue",
"label": "Title (Blue)"
},
{
"type": "text",
"id" : "buttonText",
"label": "Button Text"
},
{
"type": "url",
"id" : "buttonLink",
"label": "Button Link"
}
],
"blocks": [
{
"type": "testi",
"name": "Testimonial",
"settings": [
{
"type": "range",
"id": "ratings",
"min": 0,
"max": 5,
"label": "Ratings",
"default": 0
},
{
"type": "text",
"id" : "name",
"label": "Name"
},
{
"type": "text",
"id" : "title",
"label": "Title"
},
{
"type": "richtext",
"id" : "description",
"label": "Description"
},
{
"type": "image_picker",
"id" : "image",
"label": "User Image"
}
]
}
]
}
{% endschema %}