{% if section.settings.title != blank %}
<div class="half-img-half-content-cta-solid-bg dark-blue-bg">
  <div class="container-1200 flex-align-center">
    <div class="image-section">
      {% if section.settings.backgroundImage != blank %}
      <picture>
        <source media="(max-width: 480px)" srcset="{{ section.settings.backgroundImageMobile | img_url: 'master' }}">
        <img src="{{ section.settings.backgroundImage | img_url: 'master' }}" alt="{{section.settings.title}}">
      </picture>
      {%endif%}
    </div>
    <div class="content">
      <h2> {{section.settings.title}}</h2>
      <div class="btn-wrapper">
        {% if section.settings.buttonText != blank %}
        <a class="btn-red" href="{{section.settings.buttonLink}}"
          title="{{section.settings.buttonText}}">{{section.settings.buttonText}}</a>
        {%endif%}
        {% if section.settings.buttonText2 != blank %}
        <a class="btn-white-border" href="{{section.settings.buttonLink2}}"
          title="{{section.settings.buttonText2}}">{{section.settings.buttonText2}}</a>
        {%endif%}
      </div>
      <p>{{section.settings.lowerTitle}}
        {% if section.settings.linkText != blank %}
        <a href="{{section.settings.link}}" title="{{section.settings.link}}">{{section.settings.linkText}}</a>
        {%endif%}
      </p>
    </div>
  </div>
</div>
{%endif%}
{% schema %}
{
"name": "Half Img Half Content",
"settings": [
{
"type": "image_picker",
"id" : "backgroundImage",
"label": "Background Image (desktop)"
},
{
"type": "image_picker",
"id" : "backgroundImageMobile",
"label": "Background Image (mobile)"
},
{
"type": "text",
"id" : "title",
"label": "Title"
},
{
"type": "text",
"id" : "buttonText",
"label": "Button Text"
},
{
"type": "url",
"id" : "buttonLink",
"label": "Button Link"
},
{
"type": "text",
"id" : "buttonText2",
"label": "Button Text (2)"
},
{
"type": "url",
"id" : "buttonLink2",
"label": "Button Link (2)"
}
,
{
"type": "text",
"id" : "lowerTitle",
"label": "Title (lower)"
}
,{
"type": "text",
"id" : "linkText",
"label": "Link Text"
},
{
"type": "url",
"id" : "link",
"label": "Link"
}
]
}
{% endschema %}