{% if section.settings.title != blank %}
<div class="hero-banner flex-wrap">
  <div class="content width-50">
    <div class="inner">
      <h1> {{section.settings.title}}</h1>
      <p>{{section.settings.description}}</p>
      {% if section.settings.buttonText != blank %}
      <a class="btn-red" href="{{section.settings.buttonLink}}"
        title="{{section.settings.buttonText}}">{{section.settings.buttonText}}</a>
      {%endif%}
    </div>
  </div>
  <div class="image-section width-50">
    {% if section.settings.backgroundImage != blank %}
    <picture>
      <source media="(max-width: 480px)" srcset="{{ section.settings.backgroundImageMobile | img_url: 'master' }}">
      <img src="{{ section.settings.backgroundImage | img_url: 'master' }}" alt="{{section.settings.title}}">
    </picture>
    {%endif%}
  </div>
</div>
{%endif%}
{% schema %}
{
"name": "Hero Banner",
"settings": [
{
"type": "image_picker",
"id" : "backgroundImage",
"label": "Background Image (desktop)"
},
{
"type": "image_picker",
"id" : "backgroundImageMobile",
"label": "Background Image (mobile)"
},
{
"type": "text",
"id" : "title",
"label": "Title"
},
{
"type": "html",
"id" : "description",
"label": "Description"
},
{
"type": "text",
"id" : "buttonText",
"label": "Button Text"
},
{
"type": "url",
"id" : "buttonLink",
"label": "Button Link"
}
]
}
{% endschema %}