{% if section.blocks.size > 0%}
<div class="half-img-half-content-cta">
  <div class="container-1120">
    {% for block in section.blocks %}
    <div class="flex-align-center {{block.settings.position}}">
      <h6 class="ipad-block">{{block.settings.subHeading}}</h6>
      <div class="image-section">
        {% if block.settings.sectionImage != blank %}
        <img src="{{ block.settings.sectionImage | img_url: 'master' }}" alt="{{block.settings.title}}">
        {%endif%}
      </div>
      <div class="content">
        <h6 class="ipad-none">{{block.settings.subHeading}}</h6>
        <h2>{{block.settings.title}}</h2>
        {{block.settings.description}}
        <span> {{block.settings.note}}</span>
        {% if block.settings.buttonText != blank %}
        <a class="btn-red" href="{{block.settings.buttonLink}}"
          title="{{block.settings.buttonText}}">{{block.settings.buttonText}}</a>
        {%endif%}
      </div>
    </div>
    {%endfor%}
  </div>
</div>
{%endif%}

{% schema %}
{
"name": "Half Img Half Content CTA",
"blocks": [
{
"type": "sections",
"name": "sections",
"settings": [
{
"type": "select",
"id": "position",
"label": "Position",
"info": "Position of Image (left or right)",
"options": [
{
"value": "left",
"label": "left"
},
{
"value": "right",
"label": "right"
}
]
},
{
"type": "text",
"id" : "subHeading",
"label": "Sub Heading"
},
{
"type": "text",
"id" : "title",
"label": "Title"
},
{
"type": "richtext",
"id" : "description",
"label": "Description"
},
{
"type": "text",
"id" : "note",
"label": "Note"
},
{
"type": "image_picker",
"id" : "sectionImage",
"label": "Image"
},
{
"type": "text",
"id" : "buttonText",
"label": "Button Text"
},
{
"type": "url",
"id" : "buttonLink",
"label": "Button Link"
}
]
}
]
}
{% endschema %}