{% if section.blocks.size > 0%}
<div class="four-column-cta">
    <div class="container-1260">
        <h6>{{section.settings.titleBlue}}</h6>
        <h2>{{section.settings.title}}</h2>
        <ul>
            {% for block in section.blocks %}
            <li>
                <div class="image-section">
                    {% if block.settings.icon != blank %}
                    <img src="{{ block.settings.icon | img_url: 'master' }}" alt="{{block.settings.title}}">
                    {%endif%}
                </div>
                <h5>{{block.settings.title}}</h5>
                {{block.settings.description}}
            </li>
            {%endfor%}
        </ul>
        {% if section.settings.buttonText != blank %}
        <a class="btn-red" href="{{section.settings.buttonLink}}"
            title="{{section.settings.buttonText}}">{{section.settings.buttonText}}</a>
        {%endif%}
    </div>
</div>
{%endif%}

{% schema %}
{
"name": "4 Column CTA",
"settings": [
{
"type": "text",
"id" : "title",
"label": "Title"
},
{
"type": "text",
"id" : "titleBlue",
"label": "Title (Blue)"
},
{
"type": "text",
"id" : "buttonText",
"label": "Button Text"
},
{
"type": "url",
"id" : "buttonLink",
"label": "Button Link"
}
],
"blocks": [
{
"type": "columns",
"name": "Columns",
"limit": 4,
"settings": [
{
"type": "text",
"id" : "title",
"label": "Title"
},
{
"type": "richtext",
"id" : "description",
"label": "Description"
},
{
"type": "image_picker",
"id" : "icon",
"label": "Icon"
}
]
}
]
}
{% endschema %}