{% if product.metafields.bg-content-video-cta.title != blank %}
<div class="full-bg-content-with-video-cta">
    {% assign bgimg = product.metafields.bg-content-video-cta.image | first %}
    <img src="{{ bgimg.cloudinary_src}}" alt="{{ bgimg.alt }}" />
    <div class="container-760 ">
        <h2>{{product.metafields.bg-content-video-cta.title}}</h2>
        <a class="play-button" href="{{product.metafields.bg-content-video-cta.video_url}}" data-lity>
            {{product.metafields.bg-content-video-cta.button_text}}</a>
    </div>
</div>
{% endif %}