{% if section.blocks.size > 0%}
<div class="half-img-half-content-cta">
  <div class="container-1120">
    {% for block in section.blocks %}
    <div class="flex-align-center {{block.settings.position}}">
      <div class="image-section {{block.settings.iamgeStyle}}">
        <!-- by default image will be cover, if there is need of contain then contain class to be added -->
        {% if block.settings.sectionImage != blank %}
        <img src="{{ block.settings.sectionImage | img_url: 'master' }}" alt="{{block.settings.title}}">
        {%endif%}
      </div>
      <div class="content">
        <span class="count"></span>
        <h2>{{block.settings.title}}</h2>
        {{block.settings.description}}
      </div>
    </div>
    {%endfor%}
  </div>
</div>
{%endif%}

{% schema %}
{
"name": "Half Img Half Content",
"blocks": [
{
"type": "sections",
"name": "sections",
"settings": [
{
"type": "select",
"id": "position",
"label": "Section Class Name",
"info": "Position of Image (left or right)",
"options": [
{
"value": "left",
"label": "left"
},
{
"value": "right",
"label": "right"
}
]
},
{
"type": "select",
"id" : "iamgeStyle",
"label": "Image Style",
"info": "Use contain for image with text",
"options": [
{
"value": "cover",
"label": "cover"
},
{
"value": "contain",
"label": "contain"
}
],
"default": "cover"
},
{
"type": "text",
"id" : "title",
"label": "Title"
},
{
"type": "richtext",
"id" : "description",
"label": "Description"
},
{
"type": "image_picker",
"id" : "sectionImage",
"label": "Image"
}
]
}
]
}
{% endschema %}