<!-- Steps Section -->
<div class="pdp-step-bar">
  <div class="container-1320  ">
    <ul class="flex">
      <li class="active js-pdp-step-bar-one" data-attr-step="one">
        <div class="number">
          1
        </div>
        Customize Nightguard
      </li>
      <li class="js-pdp-step-bar-two" data-attr-step="two">
        <div class="number">
          2
        </div>
        Insurance
      </li>
      <li class="js-pdp-step-bar-three" data-attr-step="three">
        <div class="number">
          3
        </div>
        Add-Ons
      </li>
      <li class="js-pdp-step-bar-four" data-attr-step="four">
        <div class="number">
          4
        </div>
        Checkout
      </li>
    </ul>
  </div>
</div>
<div class="container-1160 pdp-section flex">
  <!-- Left Product Image Slider Section -->
  {%include 'pdp-images'%}
  <!-- Right Product Information Section -->
  <div class="pdp-information" itemscope itemtype="http://schema.org/Product" id="ProductSection"
    data-section-id="{{ section.id }}" data-section-type="product-template"
    data-image-zoom-type="{{ section.settings.product_image_zoom_type }}"
    data-extra-tab-content="{{ section.settings.extra_tab_content }}" data-enable-history-state="true">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
    <!--<div class="section-header section-header--breadcrumb">
        {% include 'breadcrumb' %}
      </div>-->
    <div class="product-single">
      <div class="pdp-step-one  pdp-steps active">
        <div class="grid product-single__hero">
          <div class="grid__item post-large--one-half">
            {% if section.settings.product_vendor_enable %}
            <span class="h3" itemprop="brand">{{ product.vendor }}</span>
            {% endif %}
            <h1 class="product-single__title" itemprop="name">{{ product.title }}</h1>
            <!--<div class="product-description rte" itemprop="description">
                {{ product.description }}
              </div>-->
            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <div class="price-review-section flex">
                {% assign variant = product.selected_or_first_available_variant %}
                <meta itemprop="priceCurrency" content="{{ cart.currency.iso_code }}">
                <link itemprop="availability"
                  href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
                <div
                  class=" product-single__prices{% if shop.taxes_included or shop.shipping_policy.body != blank %} product-single__prices--policy-enabled{% endif %}">
                  <span id="PriceA11y" class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                  <span id="ProductPrice" class="product-single__price " itemprop="price"
                    content="{{ product.price | divided_by: 100.00 }}">
                    {{ product.price | money }}
                  </span>
                  {% if product.compare_at_price > product.price %}
                  <span id="ComparePriceA11y" class="visually-hidden"
                    aria-hidden="false">{{ 'products.product.sale_price' | t }}</span>
                  <s id="ComparePrice" class="product-single__sale-price">
                    {{ product.compare_at_price_max | money }}
                  </s>
                  {% else %}
                  <span id="ComparePriceA11y" class="visually-hidden"
                    aria-hidden="true">{{ 'products.product.sale_price' | t }}</span>
                  <s id="ComparePrice" class="product-single__sale-price hide">
                    {{ product.compare_at_price_max | money }}
                  </s>
                  {% endif %}
                  {% include 'product-unit-price', variant: variant, available: true %}
                </div>
                {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                <div
                  class="product-single__policies{% if product.has_only_default_variant and section.settings.product_quantity_enable == false %} product__policies--no-dropdowns{% endif %} rte">
                  {%- if shop.taxes_included -%}
                  {{ 'products.general.include_taxes' | t }}
                  {%- endif -%}
                  {%- if shop.shipping_policy.body != blank -%}
                  {{ 'products.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- endif -%}
                </div>
                {%- endif -%}
                <!-- Ratings -->
                <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}"
                  data-product-title="{{ product.title | escape }}" data-product-type="{{ product.type }}"
                  style="display: block;">
                  {{ product.metafields.stamped.badge }}
                </span>
              </div>
              <!-- Dropdowns for the variants individual
                NOT BEING USED
                -->
              <div class="product-actions-wrapper hide product-variant-section js-fieldset-variant"
                id="targetForObserver">
                {% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
                {% for option in product.options_with_values %}
                <div class="variant-type-outer" id="ProductSelect-option-{{ forloop.index0 }}"
                  name="{{ option.name | handleize }}">
                  {% assign option_index = forloop.index0 %}
                  {%- capture option_id -%}
                  single-option-{{ form_id }}-{{ option_index }}
                  {%- endcapture -%}
                  <div class="variant-type">
                    <label class="product-option-column-1 product-option-row-{{ forloop.index }} selected-text"
                      for="{{ option_id }}" data-select-text>
                      <strong>{{ option.name }}:</strong>
                    </label>
                  </div>
                  <div class="variantsSelectOption">
                    <select class="single-option-selector" id="{{ option_id }}" data-option-select
                      data-option-select="{{ form_id }}" data-option-index="{{ option_index }}"
                      name="{{ option.name | handleize }}">
                      {% for value in option.values %}
                      {% assign value = value | escape %}
                      <option name="{{ option.name | handleize }}" value="{{ value }}"
                        {% if option.selected_value == value %}selected="selected" {% endif %}>
                        {{ value }}
                      </option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                {% endfor %}
                {% endunless %}
                
                <div
                  class="js-product-single__quantity product-single__quantity{% unless section.settings.product_quantity_enable %} is-hidden{% endunless %}">
                  <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                  <div class="quantity-outer"><a class="minus-qty js-minus-qty"></a> <input type="text"
                      class="quantity-selector js-quantity-selector" value="1"><a class="plus-qty js-plus-qty"></a>
                  </div>
                </div>
              </div>
              <!-- ends-->
              {% form 'product', product, class:productform_class %}
              <form action="/cart/add" data-productid="{{product.id}}" method="post" enctype="multipart/form-data"
                id="AddToCartForm" class="recharge-form-detail">
                <select name="id" data-productid="{{ product.selected_or_first_available_variant.id}}"
                  id="ProductSelect-{{ section.id }}" class="product-id product-form__variants no-js">
                  {% for variant in product.variants %}
                  {% if variant.available %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected"
                    {% endif %} value="{{ variant.id }}">
                    {{ variant.title }}
                  </option>
                  {% else %}
                  <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
                {% if product.metafields.product-tooltip.tooltip_heading != blank %}
                <div class="note-section">
                  <a class="note-link">{{product.metafields.product-tooltip.tooltip_heading}} </a>
                  <div class="note-tooltip">
                    <p> {{product.metafields.product-tooltip.tooltip_description}} </p>
                  </div>
                </div>
                {% endif %}
                 {%comment%}
                ordering for multiple people
                {%endcomment%}
                <div class="js-multiple-people-checbox PDPcheckboxOuter flex hide m-t-b-15">
                  <input id="multiplePeople" type="checkbox">  <label class="p-r-10" for="multiplePeople">Ordering for multiple people?</label>
                </div>
                <div class="quantity-btn-wrapper flex-space-between">
                  <div class="product-single__quantity js-product-single__quantity ">
                    <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                    <div class="quantity-outer" data-children-count="1"><a class="minus-qty js-minus-qty"></a> <input
                        type="text" class="quantity-selector js-quantity-selector" value="1" id="Quantity"
                        name="quantity"><a class="plus-qty js-plus-qty"></a></div>
                  </div>
                  <a class="btn-red js-step-click" data-attr-step="two">Next Step</a>
                </div>
                <button type="submit" name="add" id="AddToCart"
                  class="btn hide {{ btn_class }}{% if section.settings.enable_payment_button %} btn--secondary{% endif %} btn-green">
                  <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                </button>
                <div class="hide">
                {% if section.settings.enable_payment_button %}
                {{ form | payment_button }}
                {% endif %}
              </div>
                <!-- {% endform %} -->
              </form>
             
            </div>
          </div>
        </div>
      </div>
      <!-- Step 2 Insurance-->
      <div class="pdp-step-two  pdp-steps ">
        <h2>Would You Like Insurance?</h2><br>
        {%comment%}
        Show Notification if Multiple Checckbox is checked
        {%endcomment%}
        <div class="notice hide">
          <p>
            If you are ordering for multiple people, then you can edit the quantity on the cart page.
        </p>
      </div>
        {% assign productInsuranceHandle = 'insurance' %}
        {% assign _productInsurance = all_products[productInsuranceHandle] %}
        {% assign vid = _productInsurance.selected_or_first_available_variant.id %}
        {% assign sellingPlanIDInsurance = _productInsurance.selling_plan_groups[0].selling_plans[0].id %}
        
        <!-- Insurance -->
        <div class="tick-box" id="add-insurance" data-pid="{{vid}}" data-sellingplanidInsurance={{ sellingPlanIDInsurance }}>
          <h4>Protect Against Loss, Damage and More for {{_productInsurance.price | money}}/year</h4>
          <p>{{_productInsurance.content}}</p>
          {% if section.settings.insDescription != blank %}
          <div class="note-section">
            <a class="note-link open-popup" href="#popup-info-insurance">Why Get Insurance?</a>
          </div>
          {%endif%}
        </div>
        <div id="popup-info-insurance" class="mfp-hide">
          <div class="half-video-half-content-popup flex">
            <a class="close mfp-popup-close"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                viewBox="0 0 25 25">
                <path id="Fill_1" data-name="Fill 1"
                  d="M0,23.939,1.061,25,12.474,13.535,23.939,25,25,23.939,13.535,12.474,25,1.061,23.939,0,12.474,11.413,1.061,0,0,1.061,11.413,12.474Z"
                  fill="currentColor" fill-rule="evenodd"></path>
              </svg></a>
            <div class="left-section">
              <div class="inner-box">
                {% if section.settings.insVideoURL != blank %}
                 
                  <video controls autoplay>
                    <source src="{{ insVideoURL}}" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                {% endif %}
                {% if section.settings.insImage != blank %}
                  
                  <img src="{{ section.settings.insImage | img_url: 'master'}}" alt="{{ section.settings.insImage.alt }}"/>
                {% endif %}
              </div>
            </div>
            <div class="content">
              {{ section.settings.insDescription }}
            </div>
          </div>
        </div>
        <!-- No Thanks -->
        <div class="white-box" id="no-insurance">
          <h4> No thanks, I do not want to protect my guard</h4>
        </div>
        <a class="btn-red js-step-click" data-attr-step="three">Next Step</a>
        <a class="btn-back js-step-click" data-attr-step="one">Go Back</a>
      </div>
      <!-- Step 3-->
      <div class="pdp-step-three pdp-steps ">
        <h2>Add-Ons</h2>
          {%comment%}
        Show Notification if Multiple Checckbox is checked
        {%endcomment%}
        <div class="notice hide">
          <p>
            If you are ordering for multiple people, then you can edit the quantity on the cart page.
        </p>
      </div>
       {% for productRec in product.metafields.accentuate.addone_handles%}
        {% assign _product = all_products[productRec] %}
        {% if _product.available %}
        <div class="addons-item-box flex">
          <div class="image-section">
            <div class="image-wrapper">
              <img src="{{ _product | img_url }}" alt="{{ _product.alt | escape }}">
            </div>
          </div>
          <div class="content">
            <h4>{{_product.title}}</h4>
            <h6 style="margin: 6px 0;">{{_product.price | money}}</h6>
            <p>{{_product.content | strip_html | truncatewords:20 }}</p>
            <a class="btn-small-red js-add-addon" data-prod-id="{{ _product.selected_or_first_available_variant.id }}">
              Add
            </a>
            {% if  _product.metafields.addon-popup.description.html != blank %}
            <a class="open-popup" href="#popup-info-{{ _product.selected_or_first_available_variant.id }}"
              style="font-size: 14px;margin-left: 20px;">Learn More</a>
              {%endif%}
          </div>
        </div>
        <div id="popup-info-{{ _product.selected_or_first_available_variant.id }}" class="mfp-hide">
          <div class="half-video-half-content-popup flex">
            <a class="close mfp-popup-close"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                viewBox="0 0 25 25">
                <path id="Fill_1" data-name="Fill 1"
                  d="M0,23.939,1.061,25,12.474,13.535,23.939,25,25,23.939,13.535,12.474,25,1.061,23.939,0,12.474,11.413,1.061,0,0,1.061,11.413,12.474Z"
                  fill="currentColor" fill-rule="evenodd"></path>
              </svg></a>
              <div class="left-section">
                <div class="inner-box">
                  {% if _product.metafields.addon-popup.video != blank %}
                    {% assign addonpopupvideo = _product.metafields.addon-popup.video | first %} 
                    <video controls autoplay>
                      <source src="{{ addonpopupvideo.cloudinary_src}}" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                  {% endif %}
                  {% if _product.metafields.addon-popup.image != blank %}
                    {% assign addonpopupimage = _product.metafields.addon-popup.image | first %} 
                    <img src="{{ addonpopupimage.cloudinary_src}}" alt="{{ addonpopupimage.alt }}"/>
                  {% endif %}
                </div>
              </div>
              <div class="content">
                {{ _product.metafields.addon-popup.description.html }}
              </div>
          </div>
        </div>
        {%endif%}
        {%endfor%}
        <!-- {% for prod in collections.wp-test-collection.products %}
          <div class="addons-item-box flex">
              <div class="image-section">
                <div class="image-wrapper">
                  <img src="{{ prod | img_url }}" alt="{{ prod.alt | escape }}">
                </div>
              </div>
              <div class="content">
                {{ prod.content }}
                <a class="btn-small-red js-add-addon" data-prod-id="{{ prod.selected_or_first_available_variant.id }}">
                  Add
                </a>
              </div>
            </div>
          {% endfor %} -->
        <a class="btn-red js-step-click" data-attr-step="four">Checkout</a>
        <a class="btn-back js-step-click" data-attr-step="two">Go Back</a>
      </div>
    </div>
  </div>
</div>
{% unless product == empty %}
<script type="application/json" id="ProductJson-{{ section.id }}">
  {{ product | json }}
</script>
{% endunless %}
{% schema %}
{
"name": {
  "en": "Product pages"
},
"settings": [
  {
    "type": "checkbox",
    "id": "product_vendor_enable",
    "label": {
      "en": "Show product vendor"
    }
  },
  {
    "type": "checkbox",
    "id": "product_quantity_enable",
    "label": {
      "en": "Show quantity selector"
    }
  },
  {
    "type": "select",
    "id": "product_thumbnails_position",
    "label": {
      "en": "Product thumbnail position"
    },
    "options": [
      {
        "value": "right",
        "label": {
          "en": "Right of main image"
        }
      },
      {
        "value": "below",
        "label": {
          "en": "Below main image"
        }
      }
    ]
  },
  {
    "type": "header",
    "content": {
      "en": "Description"
    }
  },

  {
    "type": "header",
    "content": {
      "en": "Product options form"
    }
  },
  {
    "type": "checkbox",
    "id": "enable_payment_button",
    "label": {
      "en": "Show dynamic checkout button"
    },
    "info": {
      "en": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
    },
    "default": true
  },
  
  {
    "type": "header",
    "content": {
      "en": "Insurance Product"
    }
  },

  {
    "type": "html",
    "id": "insDescription",
    "label": "Description"
  },
  {
    "type": "image_picker",
    "id": "insImage",
    "label": "Image"
  },
  {
    "type": "video_url",
    "id": "insVideoURL",
    "label": "Video URL",
    "accept": ["youtube", "vimeo"]
  }
  

]
}
{% endschema %}
{{ 'product-detail.js'  | asset_url | script_tag }}


{%- assign fa_current_variant = product.selected_or_first_available_variant -%}
{%- assign fa_variant_count = product.variants | size -%}
{%- assign fa_count = 0 -%}
<script type="application/ld+json" data-creator_name="FeedArmy">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "{{ product.title | strip_html | escape }}",
  "url": "{{ shop.url }}{{ product.url }}",
  {%- if product.variants.first.sku != blank -%}
    "sku": "{{ product.variants.first.sku }}",
  {%- else -%}
    "sku": "{{ product.variants.first.id }}",
  {%- endif -%}
  {%- if product.variants.first.barcode.size == 12 -%}
    "gtin12": {{ product.variants.first.barcode }},
  {%- endif -%}
  {%- if product.variants.first.barcode.size == 13 -%}
    "gtin13": {{ product.variants.first.barcode }},
  {%- endif -%}
  {%- if product.variants.first.barcode.size == 14 -%}
    "gtin14": {{ product.variants.first.barcode }},
  {%- endif -%}
    "productID": "{{ product.id }}",
  "brand": {
    "@type": "Thing",
    "name": "{{ product.vendor | escape }}"
  },
  "description": {{ product.description | strip_html | json }},
  "image": "https:{{ product.featured_image.src | img_url: 'grande' }}",
  {%- if product.variants -%}
  {%- assign fa_count = fa_count | plus: 1 -%}
    "offers": {% if product.variants.size > 1 %}[{% endif %}
      {
        "@type" : "Offer",
        "priceCurrency": "{{ cart.currency.iso_code }}",
        "price": "{{ fa_current_variant.price | money_without_currency  | strip_html | remove: ',' }}",
        "itemCondition" : "http://schema.org/NewCondition",
        "availability" : "http://schema.org/{% if fa_current_variant.available %}InStock{% else %}OutOfStock{% endif %}",
        "url" : "{{ shop.url }}{{ fa_current_variant.url }}",
            {%- if fa_current_variant.image -%}
              {% assign variant_image_size = fa_current_variant.image.width | append: 'x' %}
              "image": "https:{{ fa_current_variant.image.src | img_url: variant_image_size }}",
            {%- else -%}
              "image": "https:{{ product.featured_image.src | img_url: 'grande' }}",
            {%- endif -%}
            {%- if fa_current_variant.title != 'Default Title' -%}
              "name" : "{{ product.title | strip_html | escape }} - {{ fa_current_variant.title | escape }}",
            {%- else -%}
              "name" : "{{ product.title | strip_html | escape }}",
            {%- endif -%}
            {% if fa_current_variant.barcode.size == 12 %}
              "gtin12": {{ fa_current_variant.barcode }},
            {%- endif -%}
            {%- if fa_current_variant.barcode.size == 13 -%}
              "gtin13": {{ fa_current_variant.barcode }},
            {%- endif -%}
            {%- if fa_current_variant.barcode.size == 14 -%}
              "gtin14": {{ fa_current_variant.barcode }},
            {%- endif -%}
            {%- if fa_current_variant.sku != blank -%}
              "sku": "{{ fa_current_variant.sku }}",
            {%- else -%}
              "sku": "{{ fa_current_variant.id }}",
            {%- endif -%}
            {%- if product.description != blank -%}
            "description" : {{ product.description | strip_html | json }},
            {%- endif -%}
          "priceValidUntil": "{{ 'now' | date: '%s' | plus: 31536000 | date: '%Y-%m-%d' | uri_encode | replace:'+','%20' }}"
      }{%- if product.variants.size != 1 -%},{%- endif -%}
      {%- for variant in product.variants -%}
      {%- if variant != product.selected_or_first_available_variant -%}
      {%- assign fa_count = fa_count | plus: 1 -%}
        {
          "@type" : "Offer",
          "priceCurrency": "{{ cart.currency.iso_code }}",
          "price": "{{ variant.price | money_without_currency  | strip_html | remove: ',' }}",
          "itemCondition" : "http://schema.org/NewCondition",
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "url" : "{{ shop.url }}{{ variant.url }}",
              {%- if variant.image -%}
                {% assign variant_image_size = variant.image.width | append: 'x' %}
                "image": "http:{{ variant.image.src | img_url: variant_image_size }}",
              {%- else -%}
                "image": "https:{{ product.featured_image.src | img_url: 'grande' }}",
              {%- endif -%}
              {%- if variant.title != 'Default Title' -%}
                "name" : "{{ product.title | strip_html | escape }} - {{ variant.title | escape }}",
              {%- else -%}
                "name" : "{{ product.title | strip_html | escape }}",
              {%- endif -%}
              {%- if variant.barcode.size == 12 -%}
                "gtin12": {{ variant.barcode }},
              {%- endif -%}
              {%- if variant.barcode.size == 13 -%}
                "gtin13": {{ variant.barcode }},
              {%- endif -%}
              {%- if variant.barcode.size == 14 -%}
                "gtin14": {{ variant.barcode }},
              {%- endif -%}
              {%- if variant.sku != blank -%}
                "sku": "{{ variant.sku }}",
              {%- else -%}
                "sku": "{{ variant.id }}",
              {%- endif -%}
              {%- if product.description != blank -%}
              "description" : {{ product.description | strip_html | json }},
              {%- endif -%}
              "priceValidUntil": "{{ 'now' | date: '%s' | plus: 31536000 | date: '%Y-%m-%d' | uri_encode | replace:'+','%20' }}"
          }
          {%- if fa_count < fa_variant_count -%}
         	{%- unless forloop.last -%},{%- endunless -%}
          {%- endif -%}
          {%- endif -%}
      {%- endfor -%}
    {%- if product.variants.size > 1 -%}],
      "additionalProperty": [{
        "@type": "PropertyValue",
        "propertyID": "item_group_id",
        "value": "{{ product.id }}"
      }]
      {%- endif -%}
    {%- if product.metafields.spr.reviews -%}
    {%- assign fa_rating = product.metafields.spr.reviews | split: '"reviewCount": "' | last | split: '"' | first | plus: 0 -%}
    {%- if fa_rating > 0 -%}
    ,"aggregateRating": {
     "@type": "AggregateRating",
     "ratingValue": {{ product.metafields.spr.reviews | split: '"ratingValue": "' | last | split: '"' | first | plus: 0 }},
     "ratingCount": {{ product.metafields.spr.reviews | split: '"reviewCount": "' | last | split: '"' | first | plus: 0 }}
    }
    {%- endif -%}
    {%- endif -%}
  {%- endif -%}
}
</script>


<script>
  var subscriptionLib = [
    {% if product.selling_plan_groups[0].selling_plans.size > 0 %}
  {% for interval in product.selling_plan_groups[0].selling_plans %}
  {
    id: "{{ interval.id }}",
      variants: "{{interval.options[0].value}}"
  } {% unless forloop.last %}, {% endunless %}
  {% endfor %}
  {% endif %}
          ];
</script>