.price {
    display: flex;
}
.price--unavailable {
    visibility: hidden;
}
.price--compare-price-hidden .price__compare {
    display: none;
}
.price__pricing-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.price__regular {
    display: block;
}
.price--on-sale .price__regular,
.price--on-sale .price__availability {
    display: none;
}
.price__availability {
    display: none;
}
.price--sold-out .price__availability {
    display: block;
}
.price__sale {
    display: none;
}
.price--on-sale .price__sale {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.price__unit {
    display: none;
}
.price--unit-available .price__unit {
    display: block;
}
.price__badge {
    display: none;
}
.price--on-sale .price__badge--sale {
    display: flex;
}
.price--sold-out .price__badge--sale {
    display: none;
}
.price--sold-out .price__badge--sold-out {
    display: flex;
}