<article data-article-id="{{article.id}}">
  {% section 'article-template' %}
</article>


<div class="article-prev-next flex-space-between ipad-none">
  {%- if blog.next_article or blog.previous_article -%}
    {%- if blog.next_article -%}
      <a href="{{ blog.next_article }}" title="Previous" class="previous"> <p class="flex-align-center">{% include 'icon-arrow-left' %} previous article</p></a>
    {%- endif -%}
    {%- if blog.previous_article -%}
      <a href="{{ blog.previous_article }}" title="Next" class="next"><p class="flex-align-center">next article {% include 'icon-arrow-right' %}</p></a>
    {%- endif -%}
  {%- endif -%}
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "articleBody": {{ article.content | strip_html | json }},
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ shop.url | append: page.url | json }}
  },
  "headline": {{ article.title | json }},
  {% if article.excerpt != blank %}
    "description": {{ article.excerpt | strip_html | json }},
  {% endif %}
  {% if article.image %}
    {% assign image_size = article.image.width | append: 'x' %}
    "image": [
      {{ article | img_url: image_size | prepend: "https:" | json }}
    ],
  {% endif %}
  "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
  "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
  "author": {
    "@type": "Person",
    "name": {{ article.author | json }}
  },
  "publisher": {
    "@type": "Organization",
    {% if page_image %}
      {% assign image_size = page_image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": {{ page_image.height | json }},
        "url": {{ page_image | img_url: image_size | prepend: "https:" | json }},
        "width": {{ page_image.width | json }}
      },
    {% endif %}
    "name": {{ shop.name | json }}
  }
}
</script>
