{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

{% section 'sm-collection-template' %}

<script type="text/javascript">
  $(document).ready(function() {
    if (window.location.href.toLowerCase().indexOf("collections/all") > -1) {
      window.location.href = "/collections/guards";  
    }
  });
</script>

