<style>
  .form-message {
    margin-top: 20px;
  }
</style>
<div class="form-section login-page-tempate contact-section">
  <div class="container-520">
    <div class="section-header text-center">
      <h1>{{ page.title }}</h1>
    </div>
    {% if page.content.size > 0 %}
    <div class="rte">
      {{ page.content }}
    </div>
    {% endif %}
  
    <div class="contact-form form-vertical">
      {%- assign formId = 'ContactForm' -%}
      {% form 'contact', id: formId %}
      <div class="grid grid--half-gutters">
        <div class="grid__item medium-up--one-half">
          <label for="{{ formId }}-name">{{ 'contact.form.name' | t }}</label>
          <input type="text" id="{{ formId }}-name" name="contact[{{ 'contact.form.name' | t }}]"
            value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
        </div>
        <div class="grid__item medium-up--one-half">
          <label for="{{ formId }}-email">{{ 'contact.form.email' | t }} <span aria-hidden="true">*</span></label>
          <input type="email" id="{{ formId }}-email" name="contact[email]" autocorrect="off" autocapitalize="off"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            aria-required="true" {%- if form.errors contains 'email' -%} class="input--error" aria-invalid="true"
            aria-describedby="{{ formId }}-email-error" {%- endif -%}>
          {%- if form.errors contains 'email' -%}
          <span id="{{ formId}}-email-error" class="input-error-message">
            <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
            {% include 'icon-error' %}
            <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
          </span>
          {%- endif -%}
        </div>
      </div>
      <label for="{{ formId }}-phone">{{ 'contact.form.phone' | t }}</label>
      <input type="tel" id="{{ formId }}-phone" name="contact[{{ 'contact.form.phone' | t }}]" pattern="[0-9\-]*"
        value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
      <label for="ContactFormSubject">Subject <span aria-hidden="true">*</span></label>
      <input type="text" name="contact[replace]" class="field replaceMe" required>
      <script>
        var dateObj = new Date();
        var month = dateObj.getUTCMonth() + 1; //months from 1-12
        var day = dateObj.getUTCDate();
        var year = dateObj.getUTCFullYear();
        var newdate = 'contact[New customer message on ' + month + "/" + day + "/" + year + ']';
        jQuery('.replaceMe').attr('name', newdate);
      </script>
      <label for="{{ formId }}-message">{{ 'contact.form.message' | t }}</label>
      <textarea rows="10" id="{{ formId }}-message"
        name="contact[{{ 'contact.form.message' | t }}]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
      <div class="btn-wrapper">
        <input type="submit" class="btn-red" value="{{ 'contact.form.submit' | t }}">
      </div>
 
      {% include 'form-status', form: form, form_id: formId %}

      {% endform %}
    </div>

    {% if settings.addressTitle != blank %}
    <div class="address-section">
      <h4>{{ settings.addressTitle }}</h4>
      <p> {{ settings.addressDescription }}</p>
    </div>
    {%endif%}
  </div>
</div>
