<!-- Progress Bar -->
<div class="quiz-progress-bar quiz-hidden">
    <ul>
        <li>
        </li>
        <li>
        </li>
        <li>
        </li>
        <li>
        </li>
        <li>
        </li>
        <li>
        </li>
        <li>
        </li>
        <li>
        </li>
    </ul>
</div>

 		{% assign ProductSoftGuard = all_products["soft-0-12-custom-night-guard-for-light-teeth-grinding-sensitive-teeth"] %}
         {% assign ProductSoftGuardVariant = ProductSoftGuard.selected_or_first_available_variant %}

        {% assign product3DUpgrade = all_products["3d-custom-night-guard-severe-teeth-grinding"] %}
        {% assign product3DUpgradeVariant = product3DUpgrade.selected_or_first_available_variant %}

        {% assign productHybirdDay1 = all_products["hybrid-hard-soft-dual-layer-0-12-custom-night-guard-for-moderate-teeth-grinding"] %}
        {% assign productHybirdDay1Variant = productHybirdDay1.selected_or_first_available_variant %}

		{% assign productHybirdDay2 = all_products["custom-0-06-day-night-guard-for-light-teeth-grinding"] %}
        {% assign productHybirdDay2Variant = productHybirdDay2.selected_or_first_available_variant %}

        {% assign productHybird = all_products["hybrid-hard-soft-dual-layer-0-12-custom-night-guard-for-moderate-teeth-grinding"] %}
        {% assign productHybirdVariant = productHybird.selected_or_first_available_variant %}

        {% assign productDayGuard = all_products["custom-0-06-day-night-guard-for-light-teeth-grinding"] %}
        {% assign productDayGuardVariant = productDayGuard.selected_or_first_available_variant %}

		{% assign productDurableDay1 = all_products["durable-0-10-semi-hard-custom-night-guard-for-teeth-clenching-and-grinding"] %}
        {% assign productDurableDay1Variant = productDurableDay1.selected_or_first_available_variant %}

		{% assign productDurableDay2 = all_products["custom-0-06-day-night-guard-for-light-teeth-grinding"] %}
        {% assign productDurableDay2Variant = productDurableDay2.selected_or_first_available_variant %}

		{% assign productExtraDurableDay1 = all_products["extra-durable-0-10-hard-custom-night-guard-for-severe-teeth-grinding"] %}
        {% assign productExtraDurableDay1Variant = productExtraDurableDay1.selected_or_first_available_variant %}

		{% assign productExtraDurableDay2 = all_products["custom-0-06-day-night-guard-for-light-teeth-grinding"] %}
        {% assign productExtraDurableDay2Variant = productExtraDurableDay2.selected_or_first_available_variant %}

		{% assign productExtraDurable = all_products["extra-durable-0-10-hard-custom-night-guard-for-severe-teeth-grinding"] %}
        {% assign productExtraDurableVariant = productExtraDurable.selected_or_first_available_variant %}

		{% assign productDurableGuard = all_products["durable-0-10-semi-hard-custom-night-guard-for-teeth-clenching-and-grinding"] %}
        {% assign productDurableGuardVariant = productDurableGuard.selected_or_first_available_variant %}



<div class="quiz-section">
    <!-- Landing-->
    <div class="container-750 quiz-landing quiz-active">
        <h4 class="uppercase">Take the Quiz</h4>
        <h1>Choosing the Best Night Guard For You</h1>
        <p class="large">If you're having trouble deciding which night guard to get, this quiz will help you.</p>
        <a class="btn-red js-btn-quiz-get-start">Get Started</a>
    </div>
    <!-- Question 1-->
    <div class="container-750 three-column-box-image  quiz-hidden js-quiz-screens  js-quiz-one" >
        <h2>Are you a grinder or a clencher?</h2>
        <ul>
            <li  class="js-quiz-next-btn-one">
                <div class="inner">
                    <div class="image-section">
                        <img src="{{"quiz_grinder-animated.gif"|asset_url}}" >
                        
                    </div>
                    <h5>Grinder</h5>
                    <p>Someone who grinds their teeth laterally.</p>
                </div>
            </li>
            <li class="js-quiz-next-btn-one">
                <div class="inner">
                    <div class="image-section">
                        <img src="{{"quiz_clencher-animated.gif"|asset_url}}" >
                    </div>
                    <h5>Clencher</h5>
                    <p>Someone who clench their teeth together vertically. </p>
                </div>
            </li>
            <li class="js-quiz-next-btn-one">
                <div class="inner">
                    <h5>I Don’t Know</h5>
                </div>
            </li>
        </ul>
       <!-- <div class="btn-wrapper-navigation">
            <a class="btn-red-arrow next-btn js-quiz-next-btn-one"  >Next</a>
        </div>-->
    </div>
    <!-- Question 2-->
    <div class="container-750 three-column-box quiz-hidden js-quiz-screens js-quiz-two">
        <h2>How severe is your grinding?</h2>
        <ul>
            <li class="js-quiz-next-btn-two">
                <div class="inner">
                    <h5>I'm a light grinder</h5>
                </div>
            </li>
            <li class="js-quiz-next-btn-two">
                <div class="inner">
                    <h5>I'm a moderate grinder</h5>
                </div>
            </li>
            <li class="js-quiz-next-btn-two">
                <div class="inner">
                    <h5>I’m a strong grinder</h5>
                </div>
            </li>
        </ul>
        <div class="btn-wrapper-navigation">
            <a class="btn-red-arrow prev-btn js-quiz-prev-btn" data-attr-quiz="two">Previous</a>
          <!--  <a class="btn-red-arrow next-btn js-quiz-next-btn-two" data-attr-quiz="two">Next</a>-->
        </div>
    </div>
    <!-- Question 3-->
    <div class="container-750 three-column-box two-column-box quiz-hidden js-quiz-screens js-quiz-three">
        <h2>How severe is your clenching?</h2>
        <ul>
            <li class="js-quiz-next-btn-three">
                <div class="inner">
                    <h5>I'm a light clencher</h5>
                </div>
            </li>
            <li class="js-quiz-next-btn-three">
                <div class="inner">
                    <h5>I'm a moderate clencher</h5>
                </div>
            </li>
            <li class="js-quiz-next-btn-three">
                <div class="inner">
                    <h5>I’m a strong clencher</h5>
                </div>
            </li>
        </ul>
        
        
        <div class="btn-wrapper-navigation">
            <a class="btn-red-arrow prev-btn js-quiz-prev-btn" data-attr-quiz="three">Previous</a>
          <!--   <a class="btn-red-arrow next-btn js-quiz-next-btn-three" data-attr-quiz="three">Next</a>-->
        </div>
    </div>
    <!-- Question 4 -->
    <div class="container-750 three-column-box two-column-box quiz-hidden js-quiz-screens js-quiz-four">
        <h2>Do you have crown, veneer, or other dental work that you want to protect?</h2>
        <ul>
            <li class="js-quiz-next-btn-four">
                <div class="inner">
                    <h5>Yes</h5>
                </div>
            </li>
            <li class="js-quiz-next-btn-four">
                <div class="inner">
                    <h5>No</h5>
                </div>
            </li>
        </ul>
        <div class="btn-wrapper-navigation">
            <a class="btn-red-arrow prev-btn js-quiz-prev-btn" data-attr-quiz="four">Previous</a>
         <!--    <a class="btn-red-arrow next-btn js-quiz-next-btn-four" data-attr-quiz="four">Next</a>-->
        </div>
    </div>
    <!-- Question 5-->
    <div class="container-750 three-column-box two-column-box quiz-hidden js-quiz-screens js-quiz-five">
        <h2>Do you have sensitive teeth and can’t stand a hard guard although it provides more protection?</h2>
        <ul>
            <li class="js-quiz-next-btn-five">
                <div class="inner">
                    <h5>Yes</h5>
                </div>
            </li>
            <li class="js-quiz-next-btn-five">
                <div class="inner">
                    <h5>No</h5>
                </div>
            </li>
        </ul>
        <div class="btn-wrapper-navigation">
            <a class="btn-red-arrow prev-btn js-quiz-prev-btn" data-attr-quiz="five">Previous</a>
           <!--  <a class="btn-red-arrow next-btn js-quiz-next-btn-five" data-attr-quiz="five">Next</a>-->
        </div>
    </div>
    <!-- Question 6-->
    <div class="container-750 three-column-box-image two-column-box-image js-quiz-screens quiz-hidden js-quiz-six">
        <h2>Do you have any irregular bite alignment such as overbite, underbite, crossbite and etc?</h2>
        <ul>
            <li class="js-quiz-next-btn-six">
                <div class="inner">
                    <div class="image-section">
                        <img src="{{"irregular-bite.png"|asset_url}}" >
                    </div>
                    <h5>Yes, I have an irregular bite</h5>
                </div>
            </li>
            <li class="js-quiz-next-btn-six">
                <div class="inner">
                    <div class="image-section">
                        <img src="{{"no-irregular-bite.png"|asset_url}}" >
                    </div>
                    <h5>No, I don’t have an irregular bite</h5>
                </div>
            </li>
        </ul>
        <div class="btn-wrapper-navigation">
            <a class="btn-red-arrow prev-btn js-quiz-prev-btn" data-attr-quiz="six">Previous</a>
           <!--  <a class="btn-red-arrow next-btn js-quiz-next-btn-six" data-attr-quiz="six">Next</a>-->
        </div>
    </div>
    <!-- Question 7-->
    <div class="container-750 three-column-box two-column-box quiz-hidden js-quiz-screens js-quiz-seven">
        <h2>Do you want a thin/minimal, hard to notice type to wear during the day?</h2>
        <ul>
            <li class="js-quiz-next-btn-seven">
                <div class="inner">
                    <h5>Yes</h5>
                </div>
            </li>
            <li class="js-quiz-next-btn-seven">
                <div class="inner">
                    <h5>No</h5>
                </div>
            </li>
        </ul>
        <div class="btn-wrapper-navigation">
            <a class="btn-red-arrow prev-btn js-quiz-prev-btn" data-attr-quiz="seven">Previous</a>
          <!--   <a class="btn-red-arrow next-btn js-quiz-next-btn-seven" data-attr-quiz="seven">Next</a>-->
        </div>
    </div>
    <!-- Success-->
    <div class="container-520 quiz-signup-form quiz-hidden js-quiz-screens  js-quiz-success">
        <h2 >You’re almost done!</h2>
        <h2 class="hide">Sign up to view your results</h2>
        <form class="hide">
            <input type="text" id="text-quiz-signup-email" placeholder="Enter your email address">
            <input type="button" class="btn-red" id="quiz-signup-submit" value="Get Started">
        </form>
        <div class="btn-wrapper-navigation">
            <a class="btn-red-arrow next-btn js-quiz-signup-skip">Show me my results</a>
        </div>
    </div>
  

    <div class="container-750 three-column-box-image   quiz-hidden js-quiz-screens  js-quiz-eight" >
         <h2>Here are Your Results!</h2>
         <p class="js-quiz-eight-subheading" style="display: none;">We recommend using a combination of these two guards for day and night use.</p>
        <ul class="products">
            <li data-product="Soft Guard">
                <a class="inner js-add-line-item-property-for-quiz"  data-attr-itemid="{{ProductSoftGuardVariant.id}}" href="{{ProductSoftGuard.url}}">
                    <div class="image-section">
                      <img src="{{ ProductSoftGuard.featured_image | img_url: 'master'}}" alt="{{ProductSoftGuard.title}}">
                    </div>
                    <h5>{{ProductSoftGuard.title}}</h5>
                    <p>{{ProductSoftGuard.description| strip_html | truncatewords: 12 }}</p>
                 <span class="readmore">Read More</span>
                </a>
            </li>
            <li data-product="3D Upgrade">
                <a class="inner js-add-line-item-property-for-quiz"  data-attr-itemid="{{product3DUpgradeVariant.id}}" href="{{product3DUpgrade.url}}">
                    <div class="image-section">
                      <img src="{{ product3DUpgrade.featured_image | img_url: 'master'}}" alt="{{product3DUpgrade.title}}">
                    </div>
                    <h5>{{product3DUpgrade.title}}</h5>
                    <p>{{product3DUpgrade.description| strip_html | truncatewords: 12 }}</p>
                    <span class="readmore">Read More</span>
                </a>
            </li>
            <li data-product="Hybird Day">
              
               <a class="inner js-add-line-item-property-for-quiz"  data-attr-itemid="{{productHybirdDay1Variant.id}}" href="{{productHybirdDay1.url}}">
                    <div class="image-section">
                      <img src="{{ productHybirdDay1.featured_image | img_url: 'master'}}" alt="{{productHybirdDay1.title}}">
                    </div>
                    <h5>{{productHybirdDay1.title}}</h5>
                    <p>{{productHybirdDay1.description| strip_html | truncatewords: 12 }}</p>
               <span class="readmore">Read More</span>
                </a>
               
            </li>
          <li data-product="Hybird Day">
              
               <a class="inner js-add-line-item-property-for-quiz"  data-attr-itemid="{{productHybirdDay2Variant.id}}" href="{{productHybirdDay2.url}}">
                    <div class="image-section">
                      <img src="{{ productHybirdDay2.featured_image | img_url: 'master'}}" alt="{{productHybirdDay2.title}}">
                    </div>
                    <h5>{{productHybirdDay2.title}}</h5>
                    <p>{{productHybirdDay2.description| strip_html | truncatewords: 12 }}</p>
                <span class="readmore">Read More</span>
                </a>
               
            </li>
            <li data-product="Hybird">
              
              <a class="inner js-add-line-item-property-for-quiz"  data-attr-itemid="{{productHybirdVariant.id}}" href="{{productHybird.url}}">
                    <div class="image-section">
                      <img src="{{ productHybird.featured_image | img_url: 'master'}}" alt="{{productHybird.title}}">
                    </div>
                    <h5>{{productHybird.title}}</h5>
                    <p>{{productHybird.description| strip_html | truncatewords: 12 }}</p>
                <span class="readmore">Read More</span>
                </a>
               
            </li>
            <li data-product="Day Guard">
              
               <a class="inner js-add-line-item-property-for-quiz"  data-attr-itemid="{{productDayGuardVariant.id}}" href="{{productDayGuard.url}}">
                    <div class="image-section">
                      <img src="{{ productDayGuard.featured_image | img_url: 'master'}}" alt="{{productDayGuard.title}}">
                    </div>
                    <h5>{{productDayGuard.title}}</h5>
                    <p>{{productDayGuard.description| strip_html | truncatewords: 12 }}</p>
                <span class="readmore">Read More</span>
                </a>
               
            </li>
          
          <li data-product="Durable Day">
              
               <a class="inner js-add-line-item-property-for-quiz"  data-attr-itemid="{{productDurableDay1Variant.id}}" href="{{productDurableDay1.url}}">
                    <div class="image-section">
                      <img src="{{ productDurableDay1.featured_image | img_url: 'master'}}" alt="{{productDurableDay1.title}}">
                    </div>
                    <h5>{{productDurableDay1.title}}</h5>
                    <p>{{productDurableDay1.description| strip_html | truncatewords: 12 }}</p>
                <span class="readmore">Read More</span>
                </a>
               
            </li>
          <li data-product="Durable Day">
              
               <a class="inner js-add-line-item-property-for-quiz"  data-attr-itemid="{{productDurableDay2Variant.id}}" href="{{productDurableDay2.url}}">
                    <div class="image-section">
                      <img src="{{ productDurableDay2.featured_image | img_url: 'master'}}" alt="{{productDurableDay2.title}}">
                    </div>
                    <h5>{{productDurableDay2.title}}</h5>
                    <p>{{productDurableDay2.description| strip_html | truncatewords: 12 }}</p>
                <span class="readmore">Read More</span>
                </a>
               
            </li>
          
           <li data-product="Extra Durable Day">
              
               <a class="inner js-add-line-item-property-for-quiz"  data-attr-itemid="{{productExtraDurableDay1Variant.id}}" href="{{productExtraDurableDay1.url}}">
                    <div class="image-section">
                      <img src="{{ productExtraDurableDay1.featured_image | img_url: 'master'}}" alt="{{productExtraDurableDay1.title}}">
                    </div>
                    <h5>{{productExtraDurableDay1.title}}</h5>
                    <p>{{productExtraDurableDay1.description| strip_html | truncatewords: 12 }}</p>
                <span class="readmore">Read More</span>
                </a>
               
            </li>
           <li data-product="Extra Durable Day">
              
               <a class="inner js-add-line-item-property-for-quiz"  data-attr-itemid="{{productExtraDurableDay2Variant.id}}" href="{{productExtraDurableDay2.url}}">
                    <div class="image-section">
                      <img src="{{ productExtraDurableDay2.featured_image | img_url: 'master'}}" alt="{{productExtraDurableDay2.title}}">
                    </div>
                    <h5>{{productExtraDurableDay2.title}}</h5>
                    <p>{{productExtraDurableDay2.description| strip_html | truncatewords: 12 }}</p>
               <span class="readmore">Read More</span>
                </a>
               
            </li>
           <li data-product="Extra Durable">
              
               <a class="inner js-add-line-item-property-for-quiz"  data-attr-itemid="{{productExtraDurableVariant.id}}" href="{{productExtraDurable.url}}">
                    <div class="image-section">
                      <img src="{{ productExtraDurable.featured_image | img_url: 'master'}}" alt="{{productExtraDurable.title}}">
                    </div>
                    <h5>{{productExtraDurable.title}}</h5>
                    <p>{{productExtraDurable.description| strip_html | truncatewords: 12  }}</p>
               <span class="readmore">Read More</span>
                </a>
               
            </li>
          
           <li data-product="Durable Guard">
              
               <a class="inner js-add-line-item-property-for-quiz" data-attr-itemid="{{productDurableGuardVariant.id}}" href="{{productDurableGuard.url}}">
                    <div class="image-section">
                      <img src="{{ productDurableGuard.featured_image | img_url: 'master'}}" alt="{{productDurableGuard.title}}">
                    </div>
                    <h5>{{productDurableGuard.title}}</h5>
                    <p>{{productDurableGuard.description| strip_html | truncatewords: 12  }}</p>
               <span class="readmore">Read More</span>
                </a>
               
            </li>
          
          
            
           
           

        </ul>
        
    </div>
</div>

<script src="{{ 'quiz.js' | asset_url }}" defer="defer"></script>

